<main class="pt-0 bg-gradient-gray-white">

  <!-- INICIO BB Glow  -->

  <section id="bbGlow" class="scroll_section">
    <div class="container-fluid">
      <div class="row align-items-center bbglow-hero">
        <div class="col-lg-4 offset-lg-2">
          <h3>BB GLOW</h3>
          <p>Es un tratamiento estético, efecto piel de porcelana, <br>
          con componentes cosméticos que duran hasta un año.</p>
          <br/>

          <ul>
            <i class="bi bi-check-circle">
              Se utilizan viales importados de BB Glow.</i><br />
            <i class="bi bi-check-circle">
              Es más que maquillaje semipermanente.</i><br />
            <i class="bi bi-check-circle">
              Reduce el tamaño de poros dilatados.</i><br />
            <i class="bi bi-check-circle"> Atenúa ojeras, cicatrices y manchas.</i><br />
            <i class="bi bi-check-circle">
              Difumina imperfecciones progresivamente.</i><br />
            <i class="bi bi-check-circle">
              Se recomiendan entre 3 y 5 sesiones.</i><br />
            <i class="bi bi-check-circle">
              Ilumina el tono e hidrata profundamente la piel.</i><br />
          </ul>

          <br/>
          NO apto para pieles con acné activo, rosácea y piel atópica
          <br/> NO se emplean parabenos, fragancias o alcohol.
          <br/><br/>

          <a class="btn btn-bbglow btn-lg rounded-5" href="/contacto">AGENDÁ TU
            SESIÓN HOY!</a>
        </div>
      </div>
    </div>
  </section>

  <!-- FIN BB Glow -->

</main>