<main class="pt-0 bg-gradient-gray-white">

  <!-- INICIO BB Glow  -->
  <section id="bbGlow" class="scroll_section">
    <div class="container-fluid">
      <div class="row align-items-center bbglow-hero">
        <div class="col-lg-4 offset-lg-2">
          <br />
          <h3>BB GLOW</h3>
          <p>Es un tratamiento estético,
            <br />
            efecto piel de porcelana,
            <br />con componentes cosméticos
            <br />que duran hasta un año.</p>
          <br />

          <a class="btn btn-blanco btn-lg rounded-5" href="/contacto">AGENDÁ TU
            SESIÓN HOY!</a>
        </div>
      </div>
    </div>
  </section>
  <!-- FIN BB Glow -->
  
  <!-- TEXTO BBGLOW INICIO-->
  <div class="container-fluid">
    <section id="text-bbglow" class="row align-items-center mt-5">
      <article class="col-12 col-lg-8 offset-lg-2">

        <h4>QUÉ ES BB Glow?</h4>
        <p>Es una terapia no invasiva de inducción que facilita la penetración de activos naturales y nutrientes en las capas profundas de la piel. Se implementa mediante la última tendencia en NANO-TECNOLOGÍA.</p>

        <h4>PROCEDIMIENTO</h4>
        <p>El procedimiento incluye desmaquillar, limpiar y exfoliar en profundidad. Después, se aplica un protocolo específico acorde al biotipo cutáneo con los viales importados 100% originales de BB Glow.</p>
        <p>Algunos de los activos principales empleados durante BB Glow son el ácido hialurónico, vitaminas A, C o E, péptidos de última generación y la niacinamida.</p>
        <p>Todos sus ingredientes son respetuosos con nuestra piel y no contiene parabenos, fragancias o alcohol.</p>

        <h4>APLICACIONES REQUERIDAS</h4>
        <p>Se recomiendan entre 3 y 5 sesiones, dependiendo siempre del tipo de piel. <br>
        Los resultados se aprecian después de la 1º sesión, pero sus efectos son acumulativos, por lo que con los días la mejora resulta aún más evidente.</p>

        <h4>BENEFICIOS</h4>
        <p>El BB Glow no tapa imperfecciones, sino que las difumina progresivamente, de ahí su efecto maquillaje permanente.</p>
        <ul>
          <i class="bi bi-check-circle">
          Es más que maquillaje semipermanente.</i><br />
          <i class="bi bi-check-circle">
          Reduce el tamaño de los poros dilatados.</i><br />
          <i class="bi bi-check-circle">
          Atenúa las ojeras, las cicatrices y manchas.</i><br />
          <i class="bi bi-check-circle">
           Ilumina el tono e hidrata profundamente la piel.</i><br />
        </ul>
      </article>
    </section>
  </div>
  <!-- TEXTO BBGLOW FIN  -->


  <!-- CARDS BBGLOW INICIO-->
  <div class="container">
    <section id="cards-bbglow" class="row align-items-md-center min-vh-100 mb-3">

      <article class="col-12 col-md-6 col-lg-3">
        <div class="card card-bbglow mx-auto" style="width: 250px;">
          <img src="/images/icon.free.png"
            class="card-img-top" alt="Digital Marketing"/>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"> SIN parabenos, fragancias o alcohol.</p>
          </div>
        </div>
      </article>

      <article class="col-12 col-md-6 col-lg-3">
        <div class="card card-bbglow mx-auto" style="width: 250px;">
          <img src="/images/icon-sesiones.png"
            class="card-img-top" alt="Social Media"/>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Se recomiendan entre 3 y 5 sesiones para un
              tratamiento.</p>
          </div>
        </div>
      </article>

      <article class="col-12 col-md-6 col-lg-3">
        <div class="card card-bbglow mx-auto" style="width: 250px;">
          <img src="/images/icon-sello.png"
            class="card-img-top" alt="E-commerce"/>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Sólo utilizo viales importados 100% originales
              de BB Glow.</p>
          </div>
        </div>
      </article>

      <article class="col-12 col-md-6 col-lg-3">
        <div class="card card-bbglow mx-auto" style="width: 250px;">
          <img src="/images/icon-precaucion.png"
            class="card-img-top" alt="Web Development"/>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">NO apto para pieles con acné activo, rosácea y
              piel atópica.</p>
          </div>
        </div>
      </article>

      <br />
      <br />
    </section>
    <!-- CARDS BBGLOW  FIN-->
  </div>

</main>