<main class="pt-0 bg-gradient-gray-white">
  <!-- INICIO BB Glow  --> 
  <section id="bbGlow" class="scroll_section">
    <div class="container-fluid">
      <div class="row align-items-center bbglow-hero">
        <div class="col-lg-6 offset-lg-2">
          <h3>BB GLOW</h3><br />
          <p>Efecto piel de porcelana ojsnjdfvnfdvn asnvoiasvjanbsfdi.</p>
          <ul>
            <i class="bi bi-check-circle"> Business Website Solutions</i><br />
            <i class="bi bi-check-circle"> Corporate Website</i><br />
            <i class="bi bi-check-circle"> Responsive design</i><br />
            <i class="bi bi-check-circle"> Website Maintenance</i><br />
            <i class="bi bi-check-circle"> Custom Development </i><br />
            <i class="bi bi-check-circle"> End-to-end solutions</i><br />

            <i class="bi bi-check-circle"> Responsive design</i><br />
            <i class="bi bi-check-circle"> Website Maintenance</i><br />
            <i class="bi bi-check-circle"> Custom Development </i><br />
            <i class="bi bi-check-circle"> End-to-end solutions</i><br />
          </ul>
          <br />
          <a class="btn btn-primary btn-lg rounded-5" href="/contacto">AGENDÁ TU SESIÓN HOY!</a>
        </div>
      </div>
    </div>
  </section>
  <!-- FIN BB Glow -->
</main>