<main class="pt-0 bg-gradient-gray-white">

  <!-- INICIO CUPPING VENTOSATERAPIA HERO -->
  <section id="" class="scroll_section">
    <div class="container-fluid" id="cupping-ventosaterapia-hero-image">
      <div class="row align-items-center cupping-ventosaterapia-hero">
        <div class="col-lg-4 offset-lg-3">
          <h5>CUPPING <br>
          VENTOSATERAPIA</h5>
          <br>
          <p>Con el método 
          <br>tradicional chino.
          </p>
          <br>
          <div class="text-start">
            <a class="btn btn-primary btn-lg rounded-5" href="/contacto">AGENDÁ TU SESIÓN HOY!</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- FIN CUPPING VENTOSATERAPIA HERO --> 

  <!-- INICIO CONTAINER CUPPING VENTOSATERAPIA HERO -->
  <div class="container mb-4 pt-4">
    <section class="row">
      <!-- 1 columna que ocupará 12 lugares.-->
      <article class="col-12 col-lg-8 offset-lg-2">
        <h5 class="text-center">¿QUÉ ES EL CUPPING o TERAPIA CON VENTOSAS?</h5>
        <br>
        <p class="align-items-center"> Es una  terapia milenaria empleada por médicos en las culturas del Antiguo Egipto, Grecia y China. La técnica de la medicina tradicional china, es la empleada por Andrea Rios, donde la ventosa es de cristal y se calienta con una llama.
        <br>
        <br>Es menester aclarar que la llama no calienta la ventosa en sí, sino que succiona el aire, creando succión en la piel.
        <br>
        </p>
      </article>
      
    </section>
  </div>
  <!-- FIN CONTAINER CUPPING VENTOSATERAPIA HERO -->

   <!-- INICIO REIKI BANNER CON CIRCULOS FIJO -->
  <section id="cuppingCirculos" class="depilacionDefinitiva">
    <div class="container">
      <div class="img-cuppingCirculos">
        <div class="row">
          <img class="img-fluid" src="/images/cupping-andrea-rios-circulos.png"
          width="100%" alt="persona recostada con máscara de terapia led"/>
        </div>
      </div>
    </div>
  </section>
  <!-- FIN REIKI BANNER CIRCULOS FIJO -->

<!-- INICIO CONTAINER CUPPING VENTOSATERAPIA HERO -->
  <div class="container mb-4 pt-4 pb-3">
    <section class="row">
            
      <article class="col-12 col-lg-6 order-lg-1 mt-4">
        <!-- 1 Col ocupará 6 lugares del lado derecho -->
        <h5>PROCEDIMIENTO</h5>
        <p>La terapia con ventosas es una técnica que aplica ventosas (campanas de cristal ) sobre la piel después de haberse efectuado el vacío, creando un efecto de succión en la piel y parte del músculo.<br>
        <br> Con el cuppIng se activa y estimula la circulación tanto sanguínea como linfática, aumentando el flujo de oxígeno, flexibilizando tejidos, aumentando la respuesta fisiológica antiinflamatoria, eliminando toxinas y ayudando en la reparación del tejido.
         <br>Al crear esta succión y presión negativa, las ventosas se utilizan para drenar el exceso de líquidos y toxinas, aflojar las adherencias y levantar el tejido conectivo, llevar el flujo sanguíneo a la piel y estimular el sistema nervioso periférico.
        </p>
      </article>

      <!--Esta columna ocupará 6 lugares -->
      <article class="col-12 col-lg-6 mt-4">
        <h5>TIPOS DE TÉCNICAS</h5> 
          <ul> 
            <li> ESTÁTICA ( ventosa fijas en seco): Se aplica una ventosa directamente sobre la piel. Consiste en dejar la ventosa fija en el punto de aplicación para tratar las zonas reflejas del cuerpo y para puntos de máximo dolor por contracturas o bloqueos estructurales.
</li> 
<br>
            <li> DINÁMICA (Masaje con ventosas o método de deslizamiento): Tras la aplicación de aceite de masaje por la zona a tratar, se succiona con la ventosa y de va moviendo por el musculo. <br> Se emplea sobre la superficie dorsal del cuerpo. Esto puede eliminar el estancamiento de la sangre que puede estar causando dolor en una capa más profunda del músculo. 
            </li>
          </ul>
      </article>
    </section>
  </div>
  <!-- FIN CONTAINER CUPPING VENTOSATERAPIA HERO -->

   <!-- INICIO CUPPING HERO MEDIO FIJO -->
  <section id="reiki-hero-fijo-medio" class="scroll_section">
    <div class="container-fluid">
      <div class="row cupping-hero-fijo-2 align-items-start">

        <!--Esta columna ocupará 6 lugares -->
        <article class="col-12 col-lg-6 col-md-6 offset-lg-2 align">
          <br>
          <br>
          <br>
          <br>
          <h5>TERAPIA CUPPING</h5>
           <a class="btn btn-primary btn-sm rounded-5" href="/contacto">AGENDÁ
              TU SESIÓN HOY!</a>
        </article>
      </div>
    </div>
  </section>
  <!-- FIN CUPPING HERO MEDIO FIJO -->


  <!-- INICIO TARJETAS CUPPING VENTOSATERAPIA -->
  <section id="cupping-ventosas">
    <div class="container">
      <div class="tarjetas-cupping-ventosas-list pt-4">

        <div>
          <h3 class="text-center">BENEFICIOS</h3>
          <ul>
            <i class="bi bi-check-circle"> Ayuda a disminuir el dolor por contracturas.</i><br />
            <i class="bi bi-check-circle"> Aumenta el rango de movimiento.</i><br/>
            <i class="bi bi-check-circle"> Fomenta la absorción de edemas.</i><br />
            <i class="bi bi-check-circle"> Ayuda en la reparación del tejido.</i><br />
            <i class="bi bi-check-circle"> Aplaca molestias musculares.</i><br />
            <i class="bi bi-check-circle"> Favorece la recuperación después de una cirugía.</i><br/>
            <i class="bi bi-check-circle"> Ayuda a eliminar la retención de líquidos.</i><br />
            <i class="bi bi-check-circle"> Es coadyuvante en tratamientos anticelulíticos.</i><br />
            <i class="bi bi-check-circle"> Mejora los desórdenes del sistema digestivo.</i><br />
            <i class="bi bi-check-circle"> Es útil para las cicatrices post-quirúrgicas que se hayan adherido al tejido.</i><br />
          </ul>  
        </div>

        <div>
          <h3 class="text-center">CONTRAINDICACIONES</h3>
          <ul>
            <i class="bi bi-check-circle">  Enfermedades autoinmunes.</i><br/>
            <i class="bi bi-check-circle">  Insuficiencia renal y/o hepática.</i><br/>
            <i class="bi bi-check-circle">  Insuficiencia cardíaca.</i><br/>
            <i class="bi bi-check-circle">  Mujeres embarazadas.</i><br />
            <i class="bi bi-check-circle">  Personas con marcapasos.</i><br />
            <i class="bi bi-check-circle">  Personas con emofilia y/o anemia.</i><br />
            <i class="bi bi-check-circle">  Personas con  trastornos de sangre.</i><br />
            <i class="bi bi-check-circle">  zonas muy vascularizadas (varices en hueco poplíteo).</i><br />
            <i class="bi bi-check-circle">  Pacientes oncológicos con metástasis.</i><br />
            <i class="bi bi-check-circle">  Pacientes con tratamiento anticoagulante</i><br />
            <i class="bi bi-check-circle">  Personas con lesiones dermatológicas.</i><br />
          </ul>         
        </div>

      </div>
    </div>
  </section>
  <!-- FIN TARJETAS CUPPING VENTOSATERAPIA -->