<main>
  <!-- INICIO DEPILACION CAROUSEL-->
  <section id="depilacionCarousel">
    <div
      id="carouselDepilacion"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">

        <button
          type="button"
          data-bs-target="#carouselDepilacion"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>

        <button
          type="button"
          data-bs-target="#carouselDepilacion"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
      </div>

      <div class="carousel-inner">

        <div class="carousel-item active" data-interval="1000">
          <img
            src="/images/depilacion-definitiva-laser-andrea-rios-0.png"
            class="d-block w-100"
            alt="hombre recostado depilacion definitiva laser andrea rios masoterapia y estética"
          />
          <div class="carousel-caption-depilacion d-none d-md-block">
            <h4>DEPILACIÓN LÁSER
              <br />DEFINITIVA</h4>
            <p class="text-start">
              Eliminar el vello es más que
              <br />una cuestión estética.
            </p>
          </div>
        </div>

        <div class="carousel-item" data-interval="2000">
          <img
            src="/images/depilacion-definitiva-laser-andrea-rios-1.png"
            class="d-block w-100"
            alt="mujer recostada depilacion definitiva laser andrea rios masoterapia y estética"
          />
          <div class="carousel-caption-depilacion d-none d-md-block">
            <h4>DEPILACIÓN LÁSER
              <br />DEFINITIVA</h4>
            <p class="text-start">
              Eliminá de raíz los vellos de
              <br />forma rápida, práctica y efectiva.
            </p>
          </div>
        </div>

      </div>

      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselDepilacion"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselDepilacion"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>
  </section>
  <!-- FIN DEPILACION CAROUSEL-->

  <!-- INICIO DEPILACION INFO-TEXTO -->
  <div class="container mb-4 pt-4">
    <section id="depilacion-info" class="row pt-2">

      <!-- 1 columna que ocupará 12 lugares.-->
      <article class="col-12 col-lg-8 offset-lg-2">
        <h5 class="text-center">DEPILACIÓN DEFINITIVA LÁSER</h5>
        <p class="align-items-center">Es uno de los tratamientos estéticos NO
          INVASIVOS más demandados del mundo por hombres y mujeres. Al no ser
          una técnica dañina para la piel, se aplica en el rostro y en el
          cuerpo. Es indolora, rápida, practica y efectiva. 
          <br>
          <br>Apta para todos los tonos de piel y colores de vellos. Se puede depilar en verano, en
          pieles recién bronceadas.
        </p>
      </article>

      <!-- 1 Col ocupará 6 lugares del lado derecho -->
      <article class="col-12 col-lg-6 order-lg-1 mt-4">
        <h5>MÉTODO</h5>
        <p>
          El método de la depilación láser -que combina simultáneamente tres longitudes de onda para mejorar la eficacia- actúa sobre el folículo piloso.
          <br>
          <br>
          Este láser usa una luz para atacar el folículo con calor, combinando la TECNOLOGIA ICE, que enfría continuamente la piel para garantizar una experiencia segura.
          <br>
          <br>
          Además, se aplica gel frío en la zona a tratar para proteger la piel y
          disminuir el riesgo de efectos secundarios.</p>
      </article>

      <!--Esta columna ocupará 6 lugares -->
      <article class="col-12 col-lg-6 mt-4">
        <h5>RESULTADOS</h5>
        <p>Los resultados son progresivos y visibles desde la 1º sesión de
          depilación láser definitiva.
          <br> 
          <br>
          Se trabaja sobre los vellos en crecimiento activo (son los que contienen abundante melanina) porque son más receptivos al láser.
          <br />
          <br />
          También hay vellos en fase de transición (o reposo) y una vez que progresan a
          la fase activa se los somete también al láser.</p>
      </article>

    </section>
  </div>
  <!-- FIN DEPILACION INFO-TEXTO -->

  <!-- INICIO DEPILACION BANNER CON CIRCULOS FIJO -->
  <section id="depilacionDefinitiva" class="depilacionDefinitiva">
    <div class="container">

      <div class="img-depilacion-definitiva">
        <div class="row">
          <img class="img-fluid" src="/images/depilacion-definitiva-laser-andrea-rios-circulos.png"
          width="100%" alt="persona recostada con máscara de terapia led"/>
        </div>
      </div>
    </div>
  </section>
  <!-- FIN DEPILACION BANNER CIRCULOS FIJO -->



  <!-- INICIO DEPILACION HERO MEDIO FIJO -->
  <section id="depilacion-hero-fijo" class="scroll_section">
    <div class="container-fluid">
      <div class="row depilacion-hero-fijo-2 align-items-center">

        <!--Esta columna ocupará 6 lugares -->
        <article class="col-12 col-lg-6 col-md-6 offset-lg-2">
          <h5>DURACIÓN</h5>
          <br>
          <p>El tratamiento de DEPILACIÓN LÁSER DEFINITIVA 
          <br>dura aprox. entre 8 y 12 sesiones en general.
          <br>
          <br>Una vez finalizado el tratamiento, se precisan 
          <br>sesiones de MANTENIMIENTO PERIÓDICO 
          <br>para la eliminación del vello persistente.</p>
          <br>
          <div class="col text-start">
            <a class="btn btn-primary btn-md rounded-5" href="/contacto">AGENDÁ
              TU SESIÓN HOY!</a>
          </div>
        </article>
        <br />
      </div>
    </div>
  </section>
  <!-- FIN DEPILACION HERO MEDIO FIJO -->
  
  <div class="container">
    <article class="row depilacion-importante">
      <div class="col-12 col-lg-10">
        <h5>IMPORTANTE</h5>
        <p class="align-items-center">Hay zonas del cuerpo donde los resultados son más visibles que otras, y todo dependerá de diversos factores (hormonales, tono de piel, color y grosor del vello y los cuidados pre y post sesión).
        <br>
        <br>
        Los vellos no se caen de inmediato, pero lo harán durante un plazo de días a semanas.
        </p>
      </div>
    </article>
  </div>


  <!-- INICIO TARJETAS DEPILACION -->
  <section id="depilacion-definitiva">
    <div class="container">
      <div class="tarjetas-depilacion-list">

        <div>
          <h3 class="text-center">APLICACIONES</h3>
          <ul>
            <i class="bi bi-check-circle"> Apto a nivel corporal y facial.</i><br />
            <i class="bi bi-check-circle"> Entre 8 y 12 sesiones aproximadamente.</i><br />
            <i class="bi bi-check-circle"> Cada 30 o 45 días. (*)</i><br />
            <br />
            (*)Según criterio profesional y cantidad de vello en la zona a tratar.<br />
          </ul>
        </div>

        <div>
          <h3 class="text-center">VENTAJAS</h3>
          <ul>
            <i class="bi bi-check-circle"> Elimina la foliculitis (vellos encarnados).</i><br/>
            <i class="bi bi-check-circle"> Mejora la textura y elasticidad de la piel. </i><br/>
            <i class="bi bi-check-circle"> Es el método más eficaz, rápido e indoloro. </i><br/>
            <i class="bi bi-check-circle"> Acaba con el hirsutismo. </i><br/>
            <i class="bi bi-check-circle"> Al eliminar el vello, no se retiene el sudor y mejora la higiene. </i><br/>            
          </ul>
        </div>

        <div>
          <h3 class="text-center">PRE-SESIÓN</h3>
          <ul>
            <i class="bi bi-check-circle"> No exponerse al sol, ni aclarar la piel.</i><br />
            <i class="bi bi-check-circle"> No usar otros métodos de depilación.</i><br />
            <i class="bi bi-check-circle"> Evitar medicamentos anticoagulantes.</i><br />
            <i class="bi bi-check-circle"> Afeitar el área a tratar 24 hs antes.</i><br />
            <i class="bi bi-check-circle"> Usar protector solar diariamente.</i><br />
            <i class="bi bi-check-circle"> Hidratar las zonas a tratar.</i><br />
          </ul>
        </div>

      </div>
    </div>
  </section>
  <!-- FIN TARJETAS DEPILACION  -->

  <!-- INICIO DEPILACION HERO DE ABAJO FIJO -->
  <section id="depilacion-hero-fijo" class="scroll_section">
    <div class="container-fluid">
      <div class="row depilacion-hero-fijo align-items-center">
        <article class="col-12 col-lg-8 offset-lg-2">
          <h5>IMPLEMENTACIÓN</h5>
          <p>HOMBRE, MUJERES y ADOLESCENTES.</p>
          <br />
          <ul>
              <i class="bi bi-check-circle"> Piernas y brazos.</i><br>
              <i class="bi bi-check-circle"> Hombros.</i><br>
              <i class="bi bi-check-circle"> Rostro y axilas.</i><br>
              <i class="bi bi-check-circle"> Cavado.</i><br>
              <i class="bi bi-check-circle"> Gluteos.</i><br>
              <i class="bi bi-check-circle"> Pecho y abdomen.</i><br>
              <i class="bi bi-check-circle"> Espalda.</i><br>
              <i class="bi bi-check-circle"> Tira alba.</i><br>

          </ul>
          <br />
          <div class="col text-start">
            <a class="btn btn-primary btn-lg rounded-5" href="/contacto">AGENDÁ
              TU SESIÓN HOY!</a>
          </div>
        </article>
      </div>
    </div>
  </section>
  <!-- FIN DEPILACION HERO DE ABAJO FIJO -->

</main>