<main class="pt-0 bg-gradient-gray-white">

  <section id="dermaplaning" class="scroll_section">
    <div class="container-fluid" id="dermaplaning-hero-image">
      <div class="row align-items-center dermaplaning-hero">
        <div class="col-lg-4 offset-lg-2">
          <h4>DERMAPLANING</h4>
          <p>Peeling mecánico por arrastre.<br />
            Se realiza con bisturí.
            <br />
            Exfolia el rostro.
          </p>
          <br /><br /><br /><br />
          <div class="col text-start">
            <a class="btn btn-blanco btn-lg rounded-5" href="/contacto">AGENDÁ
              TU SESIÓN HOY!</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- INICIO DERMAPLANING BANNER CON CIRCULOS FIJO -->
  <section id="dermaplaningCirculos" class="row dermaplaningCirculos">
    <div class="container">

      <!-- 1 columna que ocupará 12 lugares -->
      <article class="col-12 col-lg-8 offset-lg-2">
        <h4 class="text-center">¿Porqué es importante el DERMAPLANING FACIAL?</h4>
        <br />
        <p class="align-items-center">Cualquier rutina de SKINCARE requiere de
          diferentes pasos y tratamientos para que la piel luzca saludable y
          cuidada. El proceso de exfoliación con DERMAPLANING es esencial en una
          rutina de belleza.
        </p>
      </article>  

      <div class="img-dermaplaning-circulos">
        <div class="row">
          <img class="img-fluid" src="/images/dermaplaning-andrea-rios-circulos.png"
          width="100%" alt="persona recostada con máscara de terapia led"/>
        </div>
      </div>

    </div>
  </section>
  <!-- FIN DERMAPLANING BANNER CIRCULOS FIJO -->


  <div class="container mb-4 pt-4">
    <section class="row">

      <!-- 1 Col ocupará 6 lugares del lado derecho -->
      <!-- INICIO FORMULARIO CONTACTO -->
      <article class="col-12 col-lg-6 order-lg-1 mt-4">
        <h4>PROCEDIMIENTO</h4>
        <p>
          Esta técnica de estética facial elimina la capa superior de la piel
          constituida por células muertas y vello facial desencadenando la
          regeneración celular.
          <br />
          Así, ayuda a unificar el tono de la piel y el tamaño de los poros.
          <br>
          <br>Además, le otorga al rostro una apariencia suave y hace que el
          maquillaje se aplique mejor.</p>
      </article>

      <!--Esta columna ocupará 6 lugares -->
      <article class="col-12 col-lg-6 mt-4">
        <h4>BENEFICIOS</h4>
        <P>
          El DERMAPLANING proporciona una mejor superficie para otros
          tratamientos, como PEELING'S QUÍMICOS o TERAPIA LED, permitiendo que
          sean más efectivos para trabajar de manera eficaz.
          <br>
          <br>Además, permite una mayor penetración de productos como:
          activos, cremas, geles, emulsiones, tónicos, sérum, contorno de ojos y
          más...</P>
      </article>
    </section>
  </div>

  

</main>