<main class="pt-0 ">
  <!-- INICIO HERO DRENAJE LINFÁTICO -->
  <section id="drenaje-linfático-hero" class="scroll_section">
    <div class="container-fluid" id="drenaje-linfático-hero-image">
      <div class="row align-items-center drenaje-linfático-hero">
        <div class="col-lg-4 offset-lg-3">
          <h4>DRENAJE
          <br>LINFÁTICO
          <br>MANUAL</h4>
          <br>
          <p> Facilitan la circulación linfática.
            <br>Ideales para post-operatorios,
            <br>patologías de estreñimiento,
            <br>acné, piernas cansadas, etc.
          </p>
          <br>
          <div class="text-start">
            <a class="btn btn-primary btn-lg rounded-5" href="/contacto">AGENDÁ TU SESIÓN HOY!</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- FIN HERO DRENAJE LINFÁTICO -->

  <!-- INICIO CONTAINER DE TEXTO DRENAJE LINFÁTICO -->
  <section id="container-con-texto">
    <div class="container mb-4 pt-4 row">
      <!-- 1 Col ocupará 6 lugares del lado derecho -->
      <article class="col-12 col-lg-9 offset-lg-2">
        <h5 class="text-center">¿CÓMO TRABAJA EL DRENAJE LINFÁTICO MANUAL?</h5>
        <p class="align-items-center"> El sistema linfático es la estructura anatómica que transporta la linfa. La linfa procede del líquido intersticial o intercelular. El drenaje linfático manual es la terapia que estimula el drenaje de estos conductos linfáticos, limpiando las zonas congestionadas. Los drenajes linfáticos pueden ser realizarse en:
        <ul>
          <li> Piernas</li>
          <li> Pies</li>
          <li> Abdomen</li>
          <li> Cólon</li>
          <li> Rostro</li>
          <li> Cuerpo completo</li>
        </ul>
        Luego de cirugías -como una liposucción- se suele recomendar el drenaje linfático manual (DLM) para activar la circulación linfática, evitar los edemas y fibrosis.
        </p>
      </article>

      <!--Esta columna ocupará 6 lugares -->
      <article class="col-12 col-lg-5 offset-lg-1 mt-1">
        <P> 
          <ul>
            <i class=""> <h5>BENEFICIOS</h5></i>
            <i class="bi bi-check-circle"> Facilita la circulación linfática.</i><br>
            <i class="bi bi-check-circle"> Mejora la circulación de retorno.</i><br>
            <i class="bi bi-check-circle"> Regula el equilibrio hídrico del organismo.</i><br>
            <i class="bi bi-check-circle"> Facilita la evacuación de sust. del tejido conectivo.</i><br>
          </ul>
        </P>
      </article>

       <!-- 1 Col ocupará 6 lugares del lado derecho -->
      <article class="col-12 col-lg-5 order-lg-3 offset-lg-1 mt-1">
        <p> 
          <ul>
            <i class=""> <h5>BENEFICIOS</h5></i>
            <i class="bi bi-check-circle"> Posee efecto sedante en el sistema nervioso.</i><br>
            <i class="bi bi-check-circle"> Estimula la función renal.</i><br>
            <i class="bi bi-check-circle"> Mejora y protege el sistema inmunológico.</i><br>
            <i class="bi bi-check-circle"> Depura las toxinas del organismo.</i><br>

          </ul>
        </p>
      </article>
    </div>  
  </section>
  <!-- FIN CONTAINER DE TEXTO DRENAJE LINFÁTICO -->

  <!-- INICIO DRENAJE LINFÁTICO BANNER CON CIRCULOS FIJO -->
  <section id="drenajeLinfaticoCirculos" class="drenajeLinfaticoCirculos">
    <div class="container">

      <div class="img-drenajeLinfaticoCirculos">
        <div class="row">
          <img class="img-fluid" src="/images/drenaje-linfatico-andrea-rios-circulos.png"
          width="100%" alt="Tres imagenes del abdomen, las piernas y el pecho recibiendo masajes de drenaje linfático manual."/>
        </div>
      </div>
    </div>
  </section>
  <!-- FIN DRENAJE LINFÁTICO BANNER CON CIRCULOS FIJO -->

  <!-- INICIO TARJETAS DRENAJE LINFÁTICO -->
  <section id="drenaje-linfatico-card">
    <div class="container">
      <div class="tarjetas-drenajelinfatico-list">

        <div>
          <i class="fa-regular fa-calendar-days"></i>
            <h3 class="text-center">FRECUENCIA</h3>
          <ul>
            <i class="bi bi-check-circle"> Entre 1 y 3 veces por semana. (*)</i><br />
            <i class="bi bi-check-circle"> Apto para todos las zonas del cuerpo.</i><br />
            <i class="bi bi-check-circle"> Puede realizarse durante todo el año.</i><br />
            <i class="bi bi-check-circle"> Apto para hombres y mujeres.</i><br />            
            <br>
            (*) Acorde al criterio profesional, prescripción médica y zona a tratar.<br />
          </ul>
        </div>

        <div>
          <i class="fa-solid fa-list-check"></i>
          <h3 class="text-center">INDICADO PARA</h3>
          <ul>
            <i class="bi bi-check-circle"> Postoperatorios. Várices.</i><br>
            <i class="bi bi-check-circle"> Piernas cansadas o inflamadas.</i><br>
            <i class="bi bi-check-circle"> Ansiedad. Estrés. Acné. </i><br>
            <i class="bi bi-check-circle"> Celulitis. Linfedema. Edemas </i><br>
            <i class="bi bi-check-circle"> Dolor de cabeza. Migrañas. Vértigo.</i><br>
            <i class="bi bi-check-circle"> Artrosis. Artritis. Hematomas</i><br>
            <i class="bi bi-check-circle"> Afecciones del aparato digestivo.</i><br>
          </ul>
        </div>

        <div>
          <i class="fa-solid fa-ban"></i>
          <h3 class="text-center">CONTRAINDICACIONES 
          <br> RELATIVAS O ABSOLUTAS  (*)</h3>
          <ul>
            <i class="bi bi-check-circle"> Esclerosis del seno carotídeo.</i><br />
            <i class="bi bi-check-circle"> Asma grave. Hipotensión. Flebitis</i><br/>
            <i class="bi bi-check-circle"> Tumores malignos o cancer en curso.</i><br/>
            <i class="bi bi-check-circle"> Infecciones agudas. Tuberculosis.</i><br />
            <i class="bi bi-check-circle"> Insuficiencias cardiacas. Tromboflebitis</i><br />
            (*) Consulte siempre a su médico.
          </ul>
        </div>

      </div>
    </div>
  </section>
  <!-- FIN TARJETAS DRENAJE LINFÁTICO -->

  <div class="col-12 col-lg-6 offset-lg-3 pt-3 pb-4">
      <p><i> <strong>IMPORTANTE:</strong> Antes de someterse a un Drenaje Linfático, consulte a su médico de cabecera.</i></p>
  </div>

</main>
