<main class="bg-gradient-gray-white">
  <!-- INICIO Error 404 -->
  <div class="container-fluid">
    <div
      id="error-404"
      class="row pt-2 align-items-end text-center error-404-hero">
      <div class="col-lg-12 pb-4">
        <p>
          Buscamos la página en todas partes, pero no existe.<br />
          Te invitamos a volver a la página de...
          <a class="btn btn-primary btn-mg rounded-5" href="/">INICIO</a>
          </p>
      </div>
    </div>
  </div>
  <!-- FIN Error 404 -->
</main>