<main class="bg-gradient-gray-white">
  <div class="container-fluid" id="gracias-hero-images">
    <div class="row pt-2 align-items-end text-center gracias-hero">
      <div class="col-lg-12 pb-5">
        <p>Además recibirás un mensaje en tu casilla de correo electrónico.
          <a class="btn btn-primary btn-mg rounded-5" href="/">INICIO</a>
          <br /><br /><br /><br /><br />
        </p>
      </div>
    </div>
  </div>
</main>