<main class="main bg-gradient-gray-white">
  <!--HOME Hero image INICIO-->
  <section id="Home carousel">
    <div id="carouselHomeCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">

        <button type="button" data-bs-target="#carouselHomeCaptions"
          data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>

        <button type="button" data-bs-target="#carouselHomeCaptions"
         data-bs-slide-to="1" aria-label="Slide 2"></button>

        <button type="button" data-bs-target="#carouselHomeCaptions"
          data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="1000">
          <img src="/images/andrea-hero-1.png" class="d-block w-100" alt="andrea-hero-1"/>
        </div>
        <div class="carousel-item" data-interval="1000">
          <img src="/images/andrea-hero-2.png" class="d-block w-100" alt="andrea-hero-2"/>
        </div>
        <div class="carousel-item" data-interval="1000">
          <img src="/images/andrea-hero-3.png" class="d-block w-100" alt="andrea-hero-3"/>
        </div>
      </div>

      <button class="carousel-control-prev" type="button"
       data-bs-target="#carouselHomeCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button"
        data-bs-target="#carouselHomeCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>
  </section>
  <!--HOME hero image FIN-->
  

  <!--HOME CONTEINER INICIO-->
  <article class="container">
    <section id="Home Container" class="row align-items-center px-3 py-3">

      <article class="col-12 col-lg-5 align-items-center pe-0">
        <h4>¿Querés eliminar adiposidad y celulitis?</h4>
        Combinando tecnologías de punta y técnicas de masaje manual es posible trabajar sobre todas las zonas para:
        <br>
        <br>
        - REDUCIR adiposidad, <br> 
        - ESCULPIR el cuerpo y  <br>
        - ELIMINAR celulitis en pocas semanas.
        <br>
        <br>
        <small>LIPOLASER NO INVASIVO - RAFIOFRECUENCIA - ULTRACAVITACIÓN </small>
        </p>
        <br>
        <a class="btn btn-primary btn-lg rounded-5" href="/contacto" role="button">AGENDÁ TU SESIÓN HOY!</a>
      </article>

      <article class="col-12 col-lg-7 pe-0 me-0">
        <img class="img-fluid pt-5 ps-5 ms-5" src="/images/andrea-rios-lipolaser-home.png" width="90%" alt="andrea-rios-lipolaser-"/>
      </article>

      <article class="col-12 col-lg-5 order-lg-1">
        <h4>Recuperá el bienestar con Masoterapia</h4>
        <p>Desde el 2003 Andrea Rios es MASOTERAPEUTA matriculada y se dedica al bienestar de embarazadas, niños, adolescentes y adultos.
        <br>
        <br>
        Con más de 20 años de experiencia implementa diversas técnicas de MASOTERAPIA complementadas con aparatología para:
        <br>
        <br>
        - Ayudar a reducir el estrés.<br> 
        - Disminuir el dolor y tensión muscular.<br>
        - Incrementar la relajación.<br> 
        - Mejorar la función del sistema inmunitario.<br>
        <br>
        </p>
        <a class="btn btn-primary btn-lg rounded-5" href="/contacto" role="button">AGENDÁ TU SESIÓN HOY!</a>
      </article>

      <article class="col-12 col-lg-7 ps-5 pb-5">
        <img class="img-fluid" src="/images/andrea-rios-masoterapia-home.png" width="80%" alt="andrea-rios-masoterapia"/>
      </article>    
     
    </section>
  </article>
  <!--HOME CONTEINER FIN-->
  
  <div class="text-center py-3">
    <p>
      <h5><i>Sabías que Andrea Rios es COSMETÓLOGA, COSMIATRA Y BB GLOW Specialist?</i></h5>
    </p>
  </div>


  <!--HOME CARDS SERVICIOS INICIO-->
  <article class="container">
    <section id="HOME servicios" class="row g-0 py-3 pb-5">
      <!--"g-0" Eliminamos Gutters entre tarjetas -->

      <article class="col-12 col-sm-6 col-lg-4">
        <!-- Se desplaza a 4 columnas-->
        <div class="card border-0">
          <!--Quitamos border y rouded de las cards-->
          <img src="/images/marketing-consulting-b.png" class="card-img rounded-0" alt="marketing-consulting"/>
          <div class="card-img-overlay rounded-0">
            <h3 class="card-title">Mkt consulting</h3>
            <!--Abajo decimos que el display en tamaño medium bloquee el párrafo.-->
            <p class="fs-6 d-none d-md-block">We have a broader view of a
              client's business and challenges.</p>
            <a class="btn btn-primary btn-sm rounded-5" href="/contacto">AGENDÁ TU SESIÓN HOY!</a>
          </div>
        </div>
      </article>    
      
      <article class="col-12 col-sm-6 col-lg-4">
        <!-- Se desplaza a 4 columnas-->
        <div class="card border-0">
          <img src="/images/pay-per-click.png" class="card-img rounded-0" alt="pay-per-click"/>
          <div class="card-img-overlay rounded-0">
            <h3 class="card-title">Pay per click</h3>
            <p class="fs-6 d-none d-md-block">More of the right people will find
              your business.</p>
            <a class="btn btn-primary btn-sm rounded-5" href="/contacto">AGENDÁ TU SESIÓN HOY!</a>
          </div>
        </div>
      </article>

      <article class="col-12 col-sm-6 col-lg-4">
        <!-- Se desplaza a 4 columnas-->
        <div class="card border-0">
          <img src="/images/display-advertising.jpg" class="card-img rounded-0" alt="display-advertising"
          />
          <div class="card-img-overlay rounded-0">
            <h3 class="card-title">Display advertising</h3>
            <p class="fs-6 d-none d-md-block">Ads that stand out to maximise exposure and drive brand awareness.</p>
            <a class="btn btn-primary btn-sm rounded-5" href="/contacto">AGENDÁ TU SESIÓN HOY!</a>
          </div>
        </div>
      </article>      

    </section>
  </article>
  <!--HOME CARDS SERVICIOS FIN-->



  <!-- Inicio div TESTIMONIO -->
  <section id="testimonios">
    <div  id="carouselTestimoniosIndicators"
      class="carousel slide" data-bs-ride="carousel">

      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselTestimoniosIndicators"
          data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselTestimoniosIndicators"
          data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselTestimoniosIndicators"
          data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselTestimoniosIndicators"
          data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselTestimoniosIndicators"
          data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselTestimoniosIndicators"
          data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselTestimoniosIndicators"
          data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselTestimoniosIndicators"
          data-bs-slide-to="7" aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselTestimoniosIndicators"
          data-bs-slide-to="8" aria-label="Slide 9"></button>
        <button type="button" data-bs-target="#carouselTestimoniosIndicators"
          data-bs-slide-to="9" aria-label="Slide 10"></button>
        <button type="button" data-bs-target="#carouselTestimoniosIndicators"
          data-bs-slide-to="10" aria-label="Slide 11"></button>
        <button type="button" data-bs-target="#carouselTestimoniosIndicators"
          data-bs-slide-to="11" aria-label="Slide 12"></button>
      </div>

      <div class="carousel-inner">

        <div class="carousel-item active testimonios">
          <h5>Claudia Bergero</h5>
          <p>⭐⭐⭐⭐⭐</p>
          <p>Excellent service from very friendly people!<br>
          Totally recommendable!
          </p>
        </div>

         <div class="carousel-item testimonios">
          <h5>Omar Ifran</h5>
          <p>⭐⭐⭐⭐⭐</p>
          <p>Muy profesional. <br>
          Recomendable!</p>
        </div>

        <div class="carousel-item testimonios">
          <h5>Carolina Valencia</h5>
          <p>⭐⭐⭐⭐⭐</p>
          <p>Un espacio de relax y satisfacción. <br>
             Muy buena atención.</p>
        </div>

        <div class="carousel-item testimonios">
          <h5>Juan Montenegro</h5>
          <p>⭐⭐⭐⭐⭐</p>
          <p>Excelente servicio, <br>
          muy personalizado</p>
        </div>

        <div class="carousel-item testimonios">
          <h5>Monica Flavia LENA</h5>
          <p>⭐⭐⭐⭐⭐</p>
          <p>Excelente atención. <br>
          Muy profesional en su tarea.</p>
        </div>

        <div class="carousel-item testimonios">
          <h5>Nicolas Bergero</h5>
          <p>⭐⭐⭐⭐⭐</p>
          <p>Muy buen servicio. Personal profesional y <br>
             Buen ambiente y buenos precios. Recomendable!</p>
        </div>

        <div class="carousel-item testimonios">
          <h5>Sol Gonzalez</h5>
          <p>⭐⭐⭐⭐⭐</p>
          <p>Profesional en la atención! Andrea Ríos se dedica desde el 2003 a los masajes,
          y se nota en la calidad del servicio. <br>La reflexología de pies es lo mejor!
          El ambiente es muy agradable y limpio. Todo descartable!</p>
        </div>

         <div class="carousel-item testimonios">
          <h5>Carlos Sayago</h5>
          <p>⭐⭐⭐⭐⭐</p>
          <p>Excelente Andrea.</p>
        </div>

        <div class="carousel-item testimonios">
          <h5>Norma Beatriz Reynaga</h5>
          <p>⭐⭐⭐⭐⭐</p>
          <p>Calificación otorgada</p>
        </div>

        <div class="carousel-item testimonios">
          <h5>Pablo Eugenio Fenoglio</h5>
          <p>⭐⭐⭐⭐</p>
          <p>Buenos Masajes!</p>
        </div>

         <div class="carousel-item testimonios">
          <h5>Dali Herrero</h5>
          <p>⭐⭐⭐⭐⭐</p>
           <p>Calificación otorgada</p>
        </div>

        <div class="carousel-item testimonios">
          <h5>Facundo Burgos</h5>
          <p>⭐⭐⭐⭐</p>
          <p>Calificación otorgada</p>
        </div>

      </div>

      <button class="carousel-control-prev" type="button"
       data-bs-target="#carouselTestimoniosIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button"
        data-bs-target="#carouselTestimoniosIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>

  </section>
  <!--FIN div TESTIMONIO-->

</main>