<main class="pt-0 bg-gradient-gray-white">
  
  <!-- LIMPIEZA FACIAL HERO INICIO -->
  <section id="limpiezafacialhero" class="scroll_section">
    <div class="container-fluid" id="limpieza-facial-hero-image">
      <div class="row align-items-center limpieza-facial-hero">
        <div class="col-lg-4 offset-lg-2">
          <h4>LIMPIEZA FACIAL PROFUNDA</h4> 
          <p>Desde la adolescencia en adelante cuidar la<br>
             salud del rostro es crucial en #ellas y #ellos.
          </p>
          <br/><br /><br /><br />
          <div class="col text-start">
            <a class="btn btn-blanco btn-lg rounded-5" href="/contacto">AGENDÁ TU SESIÓN HOY!</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- LIMPIEZA FACIAL HERO FIN -->

  <!-- LIMPIEZA FACIAL CONTAINER INICIO -->
  <div class="container mb-4 pt-4">
    <section class="row">
      <!-- 1 Col ocupará 6 lugares del lado derecho -->
      <article class="col-12 col-lg-6 order-lg-1 mt-4">
        <h5 class="text-center">¿Qué es la limpieza facial profunda?</h5> 
        <br>
        <p> Es un procedimiento que inicia en el diagnóstico de la piel realizado por una cosmetóloga profesional que indicará, según el biotipo cutáneo, qué tratamiento será el más adecuado para mantener una piel saludable y rejuvenecida.
        <br>  
        <br> Esta rutina indispensable para la salud facial debe realizarse por lo menos una vez al mes desde la pre-adolescencia en adelante.
      </article>

      <!--Esta columna ocupará 6 lugares -->
      <article class="col-12 col-lg-6 mt-4">
        <h5 class="text-center">¿Porqué acudir a una cosmetóloga?</h5>
        <br>
        <p> Hay diversos factores que influyen en la salud de nuestra piel, desde factores externos
            como la contaminación y el clima hasta factores internos como el estrés, la alimentación
            o el estilo de vida.
        <br>
        <br> Los efectos de dichos factores hacen indispensable visitar a una COSMETÓLOGA que 
              implementará tratamientos personalizados para restaurar la higiene facial.</p>
      </article>

    </section>
  </div>
  <!-- LIMPIEZA FACIAL CONTAINER FIN -->

  <div class="text-center pt-3">
    <p>
      <h5><i>La limpieza facial puede combinarse con...</i></h5>
    </p>
  </div> 

  <!-- INICIO CARDDS LIMPIEZA FACIAL SWIPER -->
  <article id="card-limpieza">
    <section class="swiperlimpieza mySwiper">

      <div class="containeeer swiper">
        <div class="slide-container">
          <div class="cardss-wrapper swiper-wrapper">

            <div class="cardds swiper-slide">
              <div class="image-box">
                <img src="/images/limpieza-facial-andrea-rios-cards-0.png" 
                alt="Rostro de hombre con dispositivo de micreodermoabrasion puntas de diamante"/>
              </div>
              <div class="profile-details">
                <div class="titulo-detalle">
                  <h5 class="titulo">MICRODERMOABRASIÓN</h5>
                  <h5 class="detalle">Exfoliación con puntas de diamante para ellas y ellos.</h5>
                  <br>
                  <a class="btn btn-primary btn-sm rounded-5" 
                     href="/contacto" role="button">AGENDÁ TU SESIÓN HOY!</a>
                </div>
              </div>
            </div>

            <div class="cardss swiper-slide">
              <div class="image-box">
                <img src="/images/limpieza-facial-andrea-rios-cards-1.png"
                alt="Rostro de hombre con mascara para hidratacion facial"/>
              </div>
              <div class="profile-details">
                <div class="titulo-detalle">
                  <h5 class="titulo">SHOCK DE HIDRATACIÓN</h5>
                  <h5 class="detalle">Combinando acido hialurónico, máscaras y tecnología.</h5>
                  <br>
                  <a class="btn btn-primary btn-sm rounded-5"
                     href="/contacto" role="button">AGENDÁ TU SESIÓN HOY!</a>
                </div>
              </div>
            </div>

            <div class="cardss swiper-slide">
              <div class="image-box">
                <img src="/images/limpieza-facial-andrea-rios-cards-2.png" 
                alt="Rostro de mujer con máscara de Terapia led facial"/>
              </div>
              <div class="profile-details">
                <div class="titulo-detalle">
                  <h5 class="titulo">TERAPIA FACIAL LED</h5>
                  <h5 class="detalle">Terapia descubierta por la NASA para el rejuvenecimiento.</h5>
                  <br>
                  <a class="btn btn-primary btn-sm rounded-5"
                     href="/contacto" role="button">AGENDÁ TU SESIÓN HOY!</a>
                </div>
              </div>
            </div>

            <div class="cardss swiper-slide">
              <div class="image-box">
                <img src="/images/limpieza-facial-andrea-rios-cards-3.png"
                alt="Rostro de mujer con depurador ultrasónico"/>
              </div>
              <div class="profile-details">
                <div class="titulo-detalle">
                  <h5 class="titulo">DEPURADOR ULTRASÓNICO</h5>
                  <h5 class="detalle">Activa la microcirculación y desobstruye poros.</h5>
                  <br>
                  <a class="btn btn-primary btn-sm rounded-5"
                     href="/contacto" role="button">AGENDÁ TU SESIÓN HOY!</a>
                </div>
              </div>
            </div>

            <div class="cardss swiper-slide">
              <div class="image-box">
                <img src="/images/limpieza-facial-andrea-rios-cards-4.png" 
                alt="Rostro de mujer y bisturi para dermaplanig facial"/>
              </div>
              <div class="profile-details">
                <div class="titulo-detalle">
                  <h5 class="titulo">DERMAPLANING</h5>
                  <h5 class="detalle">Elimina la capa superior de la piel dañada y el vello facial.</h5>
                  <br>
                  <a class="btn btn-primary btn-sm rounded-5"
                     href="/contacto" role="button">AGENDÁ TU SESIÓN HOY!</a>
                </div>
              </div>
            </div>

            <div class="cardss swiper-slide">
              <div class="image-box">
                <img src="/images/limpieza-facial-andrea-rios-cards-5.png"
                alt="Rostro de mujer con peeling químico"/>
              </div>
              <div class="profile-details">
                <div class="titulo-detalle">
                  <h5 class="titulo">PEELING QUÍMICO <small>(AHAs)</small></h5>
                  <h5 class="detalle">Exfolia la piel para su renovación celular.</h5>
                  <br>
                  <a class="btn btn-primary btn-sm rounded-5"
                     href="/contacto" role="button">AGENDÁ TU SESIÓN HOY!</a>
                </div>
              </div>
            </div>

             <div class="cardss swiper-slide">
              <div class="image-box">
                <img src="/images/limpieza-facial-andrea-rios-cards-6.png"
                alt="Rostro de mujer con peeling químico"/>
              </div>
              <div class="profile-details">
                <div class="titulo-detalle">
                  <h5 class="titulo">BB GLOW</h5>
                  <h5 class="detalle">Maquillaje semi permanente. Efecto piel de porcelana.</h5>
                  <br>
                  <a class="btn btn-primary btn-sm rounded-5"
                     href="/contacto" role="button">AGENDÁ TU SESIÓN HOY!</a>
                </div>
              </div>
            </div>

            <div class="cardss swiper-slide">
              <div class="image-box">
                <img src="/images/limpieza-facial-andrea-rios-cards-7.png"
                alt="Rostro de mujer con peeling químico"/>
              </div>
              <div class="profile-details">
                <div class="titulo-detalle">
                  <h5 class="titulo">PEELING ANTI-AGE</h5>
                  <h5 class="detalle"> Reduce arrugas y pliegues producidos por la edad.</h5>
                  <br>
                  <a class="btn btn-primary btn-sm rounded-5"
                     href="/contacto" role="button">AGENDÁ TU SESIÓN HOY!</a>
                </div>
              </div>
            </div>

            
            <div class="cardss swiper-slide">
              <div class="image-box">
                <img src="/images/limpieza-facial-andrea-rios-cards-8.png"
                alt="Rostro de mujer con peeling químico"/>
              </div>
              <div class="profile-details">
                <div class="titulo-detalle">
                  <h5 class="titulo">INDUCCIÓN DE COLÁGENO</h5>
                  <h5 class="detalle">Penetración de activos para la regeneración cutánea.</h5>
                  <br>
                  <a class="btn btn-primary btn-sm rounded-5"
                     href="/contacto" role="button">AGENDÁ TU SESIÓN HOY!</a>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
      </div>
    </section>
  </article>
  <!-- FIN CARD  LIMPIEZA FACIAL -->


  <!-- Swiper JS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>


  <!-- Initialize Swiper -->
   <script>
   var swiper = new Swiper(".slide-container", {
  slidesPerView: 4,
  spaceBetween: 20,
  slidesPerGroup: 3,
  loop: true,
  centerSlide: "true",
  grabCursor: "true",
  fade: "true",
  pagination: {
    el: ".swiper-pagination",
    clickable: true,
    dinamicBullets: true,
  },
  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
  },

  breakpoints: {
    0: {
      slidesPerView: 1,
    },
    520: {
      slidesPerView: 2,
    },
    768: {
      slidesPerView: 3,
    },
    1000: {
      slidesPerView: 4
    },
  },
});
  </script>





</main>