<main class="pt-0 bg-gradient-gray-white">

  <section id="limpiezafacial" class="scroll_section">
     <div class="container-fluid" id="limpieza-facial-hero-image">
      <div class="row align-items-center limpieza-facial-hero">
        <div class="col-lg-4 offset-lg-2">
          <h4>LIMPIEZA FACIAL PROFUNDA</h4> 
          <p>Desde la adolescencia en adelante<br>
            el cuidado de la salud del rostro<br>
            es crucial en #ellas y #ellos.
          </p>
          <br/><br /><br /><br />
          <div class="col text-start">
            <a class="btn btn-blanco btn-lg rounded-5" href="/contacto">AGENDÁ TU SESIÓN HOY!</a>
          </div>
        </div>
      </div>
    </div>
  </section>



   <!--CONTAINER LIMPIEZA FACIAL INICIO-->
  <article class="container">
    <section id="limpieza facial container" class="row align-items-center px-3 py-3">

      <article class="col-12 col-lg-5 order-lg-1 align-items-start pe-0">
        <h4>¿Qué es la limpieza facial profesional?</h4>
        <br>
        <p>Es una técnica implementada por cosmetólogas y cosmiatras para mantener la higiene de la piel del rostro. 
        <br>
        <br> Esta rutina indispensable para la salud facial debe realizarse por lo menos una vez al mes desde la pre-adolescencia en adelante.
        <br> 
        <br> Es apta para #ellas y #ellos y se complementa según el biotipo cutáneo y la patología específica con otras tecnologías.
        </p>
        <br />
        <a class="btn btn-primary btn-lg rounded-5" href="/contacto" role="button">AGENDÁ TU SESIÓN HOY!</a>
      </article>

      <article class="col-12 col-lg-7 align-items-center">
        <img class="img-fluid pt-5 ps-5 align-items-center" src="/images/limpieza-facial-container.png"
        width="70%" alt="andrea-rios-lipolaser-"/>
      </article>

    </section>
  </article>
  <!--CONTAINER LIMPIEZA FACIAL FIN-->

  



  <!-- INICIO LIMPIEZA FACIAL -->
  <section id="limpiezafacial">
    <div class="container-fluid">
      <div class="row align-items-center py-3 scroll_section">

        <article class="col-12 col-lg-8 offset-lg-2 py-3">
          <h4 class="text-center">¿Qué es la LIMPIEZA FACIAL?</h4>
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium aliquid amet ipsa, corporis harum aperiam atque debitis dolorem iusto eaque, illum dicta quaerat, deleniti laudantium non dolore! Ab, blanditiis delectus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ducimus cum mollitia, consequuntur sequi laboriosam ipsa eum.</p>
        </article>

        <div class="col-lg-3 col-md-3 offset-lg-2 d-none d-sm-block">
          <img src="images/limpieza-facial-andrea-rios-0.png" alt="limpieza-facial-1" class="img-fluid"/>
        </div>
        <div class="col-lg-5 col-md-6 mt-4 mt-sm-0 text-justify">
          <h3>Limpieza Facial</h3>
          <p>La limpieza facial es una rutina indispensable para mantener la higiene de la piel del rostro. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut molestias aperiam quam nobis soluta sed possimus dolores voluptatum dolore iusto. Quia, odit? Iusto unde rem culpa corrupti iste, nisi eos.</p>
        </div>

         <div class="col-lg-3 col-md-3 offset-lg-2 d-none d-sm-block">
          <img src="images/limpieza-facial-andrea-rios-0.png" alt="limpieza-facial-1" class="img-fluid"/>
        </div>
        <div class="col-lg-5 col-md-6 mt-4 mt-sm-0">
          <h3>Limpieza Facial</h3>
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate enim hic adipisci praesentium reiciendis quod nobis corporis temporibus eos dolorum. Similique tempore neque aliquam ad alias corporis nobis corrupti soluta?</p>
        </div>


      </div>

    </div>
  </section>
  <!-- FIN LIMPIEZA FACIAL -->

  


    <!--HOME CARDS SERVICIOS INICIO-->
  <article class="container">
    <section id="HOME servicios" class="row g-0 py-3 pb-5">
      <!--"g-0" Eliminamos Gutters entre tarjetas -->

      <article class="col-12 col-sm-6 col-lg-4">
        <!-- Se desplaza a 4 columnas-->
        <div class="card border-0">
          <!--Quitamos border y rouded de las cards-->
          <img src="/images/marketing-consulting-b.png" class="card-img rounded-0" alt="marketing-consulting"/>
          <div class="card-img-overlay rounded-0">
            <h3 class="card-title">Mkt consulting</h3>
            <!--Abajo decimos que el display en tamaño medium bloquee el párrafo.-->
            <p class="fs-6 d-none d-md-block">We have a broader view of a
              client's business and challenges.</p>
            <a class="btn btn-primary btn-sm rounded-5" href="/contacto">AGENDÁ TU SESIÓN HOY!</a>
          </div>
        </div>
      </article>    
      
      <article class="col-12 col-sm-6 col-lg-4">
        <!-- Se desplaza a 4 columnas-->
        <div class="card border-0">
          <img src="/images/pay-per-click.png" class="card-img rounded-0" alt="pay-per-click"/>
          <div class="card-img-overlay rounded-0">
            <h3 class="card-title">Pay per click</h3>
            <p class="fs-6 d-none d-md-block">More of the right people will find
              your business.</p>
            <a class="btn btn-primary btn-sm rounded-5" href="/contacto">AGENDÁ TU SESIÓN HOY!</a>
          </div>
        </div>
      </article>

      <article class="col-12 col-sm-6 col-lg-4">
        <!-- Se desplaza a 4 columnas-->
        <div class="card border-0">
          <img src="/images/display-advertising.jpg" class="card-img rounded-0" alt="display-advertising"
          />
          <div class="card-img-overlay rounded-0">
            <h3 class="card-title">Display advertising</h3>
            <p class="fs-6 d-none d-md-block">Ads that stand out to maximise exposure and drive brand awareness.</p>
            <a class="btn btn-primary btn-sm rounded-5" href="/contacto">AGENDÁ TU SESIÓN HOY!</a>
          </div>
        </div>
      </article>      

    </section>
  </article>
  <!--HOME CARDS SERVICIOS FIN-->




</main>