<main class="pt-0 bg-gradient-gray-white">
 
  <!-- INICIO LIPOLASER HERO -->
  <section id="lipolaserhero" class="scroll_section">
     <div class="container-fluid" id="lippolaser-hero-image">
      <div class="row align-items-top lipolaser-hero">
        <div class="col-lg-5 offset-lg-2">
             <br>
          <br>
          <br>
          <br>
          <h4>LIPOLASER NO INVASIVO</h4>
          <p> REDUCE adiposidad, ESCULPE el cuerpo y ELIMINA celulitis. 
          </p> 
        </div>
      </div>
    </div>
  </section>
  <!-- FIN LIPOLASER HERO -->

   <section class="row">
      <!-- 1 columna que ocupará 12 lugares.-->
      <article class="col-12 col-lg-8 offset-lg-2">
        <h5 class="text-center">¿Querés eliminar flacidez y celulitis corporal?</h5>
        <br>
        <p class="align-items-center">La radiofrecuencia focalizada es una técnica de estética corporal desarrollada para mejorar la silueta, tonificar el cuerpo, eliminar la celulitis y flacidez. Altamente recomendada para #hombres y #mujeres por sus resultados visibles en poco tiempo.</p>
      </article>
    </section>



  <!-- INICIO CARD LIPOLASER HERO -->
  <article id="card-lipolaser">
    <section class="swiperlipolaser mySwiper">

      <div class="containerr swiper">
        <div class="slide-container">
          <div class="cardss-wrapper swiper-wrapper">

            <div class="cardss swiper-slide">
              <div class="image-box">
                <img src="images/liposaler-no-invasivo-0.png" alt="lipolaser-no-invasivo-0"/>
              </div>
              <div class="profile-details">
                <div class="name-job">
                  <h5 class="name">LIPOLASER NO INAVASIVO</h5>
                  <h5 class="job">Cintura posterior</h5>
                </div>
              </div>
            </div>

            <div class="cardss swiper-slide">
              <div class="image-box">
                <img src="images/liposaler-no-invasivo-1.png" alt="lipolaser-no-invasivo-1"/>
              </div>
              <div class="profile-details">
                <div class="name-job">
                  <h5 class="name">LIPOLASER NO INAVASIVO</h5>
                  <h5 class="job">Zona interior de brazos</h5>
                </div>
              </div>
            </div>

            <div class="cardss swiper-slide">
              <div class="image-box">
                <img src="images/liposaler-no-invasivo-2.png" alt="lipolaser-no-invasivo-2"/>
              </div>
              <div class="profile-details">
                <div class="name-job">
                  <h5 class="name">LIPOLASER NO INAVASIVO</h5>
                  <h5 class="job">Cintura central</h5>
                </div>
              </div>
            </div>

            <div class="cardss swiper-slide">
              <div class="image-box">
                <img src="images/liposaler-no-invasivo-3.png" alt="lipolaser-no-invasivo-3"/>
              </div>
              <div class="profile-details">
                <div class="name-job">
                  <h5 class="name">LIPOLASER NO INAVASIVO</h5>
                  <h5 class="job">Cintura lateral</h5>
                </div>
              </div>
            </div>

            <div class="cardss swiper-slide">
              <div class="image-box">
                <img src="images/liposaler-no-invasivo-4.png" alt="lipolaser-no-invasivo-4"/>
              </div>
              <div class="profile-details">
                <div class="name-job">
                  <h5 class="name">LIPOLASER NO INAVASIVO</h5>
                  <h5 class="job">Espalda media</h5>
                </div>
              </div>
            </div>

            <div class="cardss swiper-slide">
              <div class="image-box">
                <img src="images/liposaler-no-invasivo-5.png" alt="lipolaser-no-invasivo-5"/>
              </div>
              <div class="profile-details">
                <div class="name-job">
                  <h5 class="name">LIPOLASER NO INAVASIVO</h5>
                  <h5 class="job">Zona externa de muslos</h5>
                </div>
              </div>
            </div>

            <div class="cardss swiper-slide">
              <div class="image-box">
                <img src="images/liposaler-no-invasivo-6.png" alt="lipolaser-no-invasivo-6"/>
              </div>
              <div class="profile-details">
                <div class="name-job">
                  <h5 class="name">LIPOLASER NO INAVASIVO</h5>
                  <h5 class="job">Pectorales</h5>
                </div>
              </div>
            </div>

             <div class="cardss swiper-slide">
              <div class="image-box">
                <img src="images/liposaler-no-invasivo-7.png" alt="lipolaser-no-invasivo-7"/>
              </div>
              <div class="profile-details">
                <div class="name-job">
                  <h5 class="name">LIPOLASER NO INAVASIVO</h5>
                  <h5 class="job">Zona posterior de muslos</h5>
                </div>
              </div>
            </div>

            <div class="cardss swiper-slide">
              <div class="image-box">
                <img src="images/liposaler-no-invasivo-8.png" alt="lipolaser-no-invasivo-8"/>
              </div>
              <div class="profile-details">
                <div class="name-job">
                  <h5 class="name">LIPOLASER NO INAVASIVO</h5>
                  <h5 class="job">Pantalón de montar</h5>
                </div>
              </div>
            </div>

            <div class="cardss swiper-slide">
              <div class="image-box">
                <img src="images/liposaler-no-invasivo-9.png" alt="lipolaser-no-invasivo-9"/>
              </div>
              <div class="profile-details">
                <div class="name-job">
                  <h5 class="name">LIPOLASER NO INAVASIVO</h5>
                  <h5 class="job">Zona de rodillas</h5>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
      </div>
    </section>
  </article>
  <!-- FIN CARD LIPOLASER HERO -->


  <!-- Swiper JS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>


  <!-- Initialize Swiper -->
   <script>
   var swiper = new Swiper(".slide-container", {
  slidesPerView: 4,
  spaceBetween: 20,
  slidesPerGroup: 3,
  loop: true,
  centerSlide: "true",
  grabCursor: "true",
  fade: "true",
  pagination: {
    el: ".swiper-pagination",
    clickable: true,
    dinamicBullets: true,
  },
  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
  },

  breakpoints: {
    0: {
      slidesPerView: 1,
    },
    520: {
      slidesPerView: 2,
    },
    768: {
      slidesPerView: 3,
    },
    1000: {
      slidesPerView: 4
    },
  },
});
  </script>

</main>