<main class="pt-0 bg-gradient-gray-white">

  <!-- INICIO CARD LIPOLASER HERO -->
  <article id="card-lipolaser">
    <section class="swiperlipolaser mySwiper">

      <div class="containerr swiper">
        <div class="slide-container">
          <div class="cardss-wrapper swiper-wrapper">

            <div class="cardss swiper-slide">
              <div class="image-box">
                <img src="images/liposaler-no-invasivo-0.png" alt="lipolaser-no-invasivo-0"/>
              </div>
              <div class="profile-details">
                <div class="name-job">
                  <h5 class="name">LIPOLASER NO INAVASIVO</h5>
                  <h5 class="job">Cintura posterior</h5>
                </div>
              </div>
            </div>

            <div class="cardss swiper-slide">
              <div class="image-box">
                <img src="images/liposaler-no-invasivo-1.png" alt="lipolaser-no-invasivo-0"/>
              </div>
              <div class="profile-details">
                <div class="name-job">
                  <h5 class="name">LIPOLASER NO INAVASIVO</h5>
                  <h5 class="job">Zona interior de brazos</h5>
                </div>
              </div>
            </div>

            <div class="cardss swiper-slide">
              <div class="image-box">
                <img src="images/liposaler-no-invasivo-2.png" alt="lipolaser-no-invasivo-0"/>
              </div>
              <div class="profile-details">
                <div class="name-job">
                  <h5 class="name">LIPOLASER NO INAVASIVO</h5>
                  <h5 class="job">Abdomen central</h5>
                </div>
              </div>
            </div>

            <div class="cardss swiper-slide">
              <div class="image-box">
                <img src="images/liposaler-no-invasivo-3.png" alt="lipolaser-no-invasivo-0"/>
              </div>
              <div class="profile-details">
                <div class="name-job">
                  <h5 class="name">LIPOLASER NO INAVASIVO</h5>
                  <h5 class="job">Abdomen lasteral</h5>
                </div>
              </div>
            </div>

            <div class="cardss swiper-slide">
              <div class="image-box">
                <img src="images/liposaler-no-invasivo-4.png" alt="lipolaser-no-invasivo-0"/>
              </div>
              <div class="profile-details">
                <div class="name-job">
                  <h5 class="name">LIPOLASER NO INAVASIVO</h5>
                  <h5 class="job">Espalda media</h5>
                </div>
              </div>
            </div>

            <div class="cardss swiper-slide">
              <div class="image-box">
                <img src="images/liposaler-no-invasivo-5.png" alt="lipolaser-no-invasivo-0"/>
              </div>
              <div class="profile-details">
                <div class="name-job">
                  <h5 class="name">LIPOLASER NO INAVASIVO</h5>
                  <h5 class="job">Piernas</h5>
                </div>
              </div>
            </div>

            <div class="cardss swiper-slide">
              <div class="image-box">
                <img src="images/liposaler-no-invasivo-6.png" alt="lipolaser-no-invasivo-0"/>
              </div>
              <div class="profile-details">
                <div class="name-job">
                  <h5 class="name">LIPOLASER NO INAVASIVO</h5>
                  <h5 class="job">Pectorales</h5>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
      </div>
    </section>
  </article>
  <!-- FIN CARD LIPOLASER HERO -->


  <!-- Swiper JS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>


  <!-- Initialize Swiper -->
   <script>
   var swiper = new Swiper(".slide-container", {
  slidesPerView: 4,
  spaceBetween: 20,
  slidesPerGroup: 3,
  loop: true,
  centerSlide: "true",
  grabCursor: "true",
  fade: "true",
  pagination: {
    el: ".swiper-pagination",
    clickable: true,
    dinamicBullets: true,
  },
  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
  },

  breakpoints: {
    0: {
      slidesPerView: 1,
    },
    520: {
      slidesPerView: 2,
    },
    768: {
      slidesPerView: 3,
    },
    1000: {
      slidesPerView: 4
    },
  },
});
  </script>

</main>