<main class="pt-0">

  <!-- INICIO MASAJE ANTIESTRÉS HERO -->
  <section id="bbGlow" class="scroll_section">
    <div class="container-fluid">
      <div class="row align-items-center masajeAntiestres-hero">
      </div>
    </div>
  </section>
  <!-- FIN MASAJE ANTIESTRÉS HERO -->
  
  <!-- TEXTO MASAJE ANTIESTRÉS INICIO-->
  <div class="container-fluid">
    <section id="text-antiestres" class="row align-items-center">
      <article class="col-12 col-lg-8 offset-lg-2">

        <h4>MÁSAJES ANTIESTRÉS</h4>
        <p>Son masajes manuales que consisten en la realización de maniobras superficiales en las que la intensidad de la presión es suave y el ritmo lento y reiterativo.
        <br>El masaje antiestrés ayuda a mejorar la circulación, a liberar la tensión y eliminar el estrés.
        </p>

        <h4>OBJETIVO</h4>
        <p> Obtener una relajación profunda capaz de liberar tensión muscular y rigidez corporal  proporcionar un bienestar absoluto.</p>

        <h4>METODOLOGÍA</h4>
        <p>Con mas de 20 años de experiencia, los masajes antiestrés de Andrea Rios tienen una metodología "localizada". Para poder alcanzar plenamente el objetivo de liberar tensión y rigidez en:
          <ul>
            <li> Zona superior (espalda, cuello y brazos).</li>
            <li> Zona inferior (piernas y pies).</li>
          </ul>
        </p>
      </article>
    </section>
  </div>
  <!-- TEXTO MASAJE ANTIESTRÉS FIN  -->


  <!-- INICIO  CARDS MASAJE ANTIESTRÉS  -->
  <div class="container">
    <section id="antiestres-card" class="row align-items-md-center ">

      <article class="col-12 col-md-6 col-lg-3 d-flex my-2">
        <div class="card card-antiestres" style="width: 16rem;">
          <img src="/images/masaje-antiestres-1.png" 
          class="card-img-top card-antiestres-imagen" alt="Hombre recostado de espaldas recibiendo un masaje antiestrés en la espalda."/>
          <div class="card-body">
            <h5 class="card-title text-center"></h5>
            <p class="card-text">MASAJE ANTIESTRÉS EN ESPALDA</p>
          </div>
        </div>
      </article>

      <article class="col-12 col-md-6 col-lg-3 d-flex my-2">
        <div class="card card-antiestres" style="width: 16rem;">
          <img src="/images/masaje-antiestres-2.png"
            class="card-img-top card-antiestres-imagen" alt="Mujer recostada boca abajo, con piebras negras en la espalda. Masaje antiestrés con piedras calientes."/>
          <div class="card-body">
            <h5 class="card-title text-center"></h5>
            <p class="card-text">MASAJE CON PIEDRAS CALIENTES</p>
          </div>
        </div>
      </article>

      <article class="col-12 col-md-6 col-lg-3 d-flex my-2">
        <div class="card card-antiestres" style="width: 16rem;">
          <img src="/images/masaje-antiestres-3.png"
            class="card-img-top card-antiestres-imagen" alt="Piernas de mujer recibiendo masaje antiestrés."/>
          <div class="card-body">
            <h5 class="card-title text-center"></h5>
            <p class="card-text">MASAJE ANTIESTRÉS EN PIERNAS</p>
          </div>
        </div>
      </article>

      <article class="col-12 col-md-6 col-lg-3 d-flex my-2">
        <div class="card card-antiestres" style="width: 16rem;">
          <img src="/images/masaje-antiestres-4.png"
            class="card-img-top card-antiestres-imagen" alt="Hombre rubio recostado de espaldas con piedras calientes de color negro en la espalda. Masaje con piedras calientes."/>
          <div class="card-body">
            <h5 class="card-title text-center"></h5>
            <p class="card-text">MASAJE CON PIEDRAS CALIENTES</p>
          </div>
        </div>
      </article>

    </section>
  </div>
  <!-- FIN  CARDS MASAJE ANTIESTRÉS  -->

  <!-- INICIO ANTIESTRÉS HERO DE ABAJO FIJO -->
  <section id="antiestres-hero-fijo" class="scroll_section">
    <div class="container-fluid">
      <div class="row masaje-antiestres-hero-fijo align-items-end">
        <article class="col-12 col-lg-8 offset-lg-5">
          <div class="col text-start">
            <a class="btn btn-primary btn-lg rounded-5" href="/contacto">AGENDÁ
              TU SESIÓN HOY!</a>
              <br><br><br><br><br>
          </div>
        </article>
      </div>
    </div>
  </section>
  <!-- FIN ANTIESTRÉS HERO DE ABAJO FIJO -->

</main>