<main>
  <!-- INICIO MASAJE TERAPEUTICO CAROUSEL-->
  <section id="masajeTerapeuticoCarousel">
    <div id="carouselMasajeTerapeutico"
      class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-indicators">

        <button type="button"
          data-bs-target="#carouselMasajeTerapeutico" data-bs-slide-to="0"
          class="active" aria-current="true" aria-label="Slide 1"></button>

        <button type="button"
          data-bs-target="#carouselMasajeTerapeutico" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
      </div>

      <div class="carousel-inner">

        <div class="carousel-item active" data-interval="1000">
          <img src="/images/masajes-terapeuticos-andrea-rios-hero-1.png"
            class="d-block w-100"
            alt="hombre y mujer acostados boca abajo para masaje terapeutico"/>
          <div class="carousel-caption-masaje-terapeutico d-none d-md-block">
            <h4 >MASAJES TERAPÉUTICOS</h4>
            <p class="text-start">
              Mantené tu cuerpo saludable con masajes
              <br> periódicos en tu vida cotidiana.
            </p>
          </div>
        </div>

        <div class="carousel-item" data-interval="2000">
          <img src="/images/masajes-terapeuticos-andrea-rios-hero-0.png"
            class="d-block w-100"
            alt="pareja de hombre y mujer acostados boca abajo para masajes terapeuticos"/>
          <div class="carousel-caption-masaje-terapeutico d-none d-md-block">
            <h4 class="text-center">MASAJES TERAPÉUTICOS</h4>
            <p class="text-center">
              Tenés un cuerpo para toda la vida.
              <br />Cuidalo con masajes periódicos.
              <br>Cuidate, mimate, querete...
            </p>
          </div>
        </div>

      </div>

      <button class="carousel-control-prev" type="button"
       data-bs-target="#carouselMasajeTerapeutico" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button"
        data-bs-target="#carouselMasajeTerapeutico" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>
  </section>
  <!-- FIN  MASAJE TERAPEUTICO  CAROUSEL-->

  <!-- INICIO  MASAJE TERAPEUTICO INFO-TEXTO 1 -->
  <div class="container mb-4 pt-4">
    <section id="masajes-terapeuticos-info" class="row pt-2">

      <!-- 1 columna que ocupará 12 lugares.-->
      <article class="col-12 col-lg-8 offset-lg-2">
        <h5 class="text-center">MASAJES TERAPÉUTICOS</h5>
        <p class="align-items-center"> Engloban una serie de técnicas de masaje que se utilizan en el tratamiento de trastornos neuromusculares y musculoesqueléticos. 
        <br>
        <br>Desde el 2003 Andrea Rios se dedica a la MASOTERAPIA (maniobras manuales para movilizar los tejidos blandos superficiales). Entre sus tratamientos, los más solicitados son los MASAJES TERAPÉUTICOS.
        </p>
      </article>

    </section>  
  </div>
  <!-- FIN  MASAJE TERAPEUTICO INFO-TEXTO 1-->
  

  <!-- INICIO  CARDS MASAJE TERAPEUTICO  -->
  <div class="container">
    <section id="bbGlow-card" class="row align-items-md-center min-vh-50">
      
      <article class="col-12 col-md-6 col-lg-3 d-flex py-3">
        <div class="card mx-auto card-masajeTerapeutico" style="width: 16rem;">
          <img src="/images/masaje-descontracturante.png"
          class="card-img-top card-masajeTerapeutico-imagen" alt="Hombre recostado boca abajo recibiendo un masaje descontracturante en la espalda"/>
           <div class="card-body">
              <a class="btn btn-primary btn-lg rounded-5" href="/contacto">AGENDÁ TU SESIÓN HOY!</a>
          </div>
        </div>
        
      </article>

      <article class="col-12 col-md-6 col-lg-3 d-flex py-3">
        <div class="card mx-auto card-masajeTerapeutico" style="width: 16rem;">
          <img src="/images/masaje-deportivo.png"
            class="card-img-top card-masajeTerapeutico-imagen" alt="Rostro de una mujer y el numero 3 y 5 indicando las sesiones necesarias"/>
          <div class="card-body">
              <a class="btn btn-primary btn-lg rounded-5" href="/contacto">AGENDÁ TU SESIÓN HOY!</a>
          </div>
        </div>
      </article>

      <article class="col-12 col-md-6 col-lg-3 d-flex py-3">
        <div class="card mx-auto card-masajeTerapeutico" style="width: 16rem;">
          <img src="/images/masaje-pre-natal.png"
            class="card-img-top card-masajeTerapeutico-imagen" alt="Mujer recostada recibiendo un masaje en la espalda"/>
         <div class="card-body">
            <a class="btn btn-primary btn-lg rounded-5" href="/contacto">AGENDÁ TU SESIÓN HOY!</a>
          </div>
        </div>
      </article>

      <article class="col-12 col-md-6 col-lg-3 d-flex py-3">
        <div class="card mx-auto card-masajeTerapeutico" style="width: 16rem;">
          <img src="/images/masaje-postoperatorio.png"
            class="card-img-top card-masajeTerapeutico-imagen" alt="Imagen de las piernas de un hombre con tobillo adolorido"/>
          <div class="card-body">
            <a class="btn btn-primary btn-lg rounded-5" href="/contacto">AGENDÁ TU SESIÓN HOY!</a>
          </div>
        </div>
      </article>

      <article class="col-12 col-md-6 col-lg-3 d-flex py-3">
        <div class="card mx-auto card-masajeTerapeutico" style="width: 16rem;">
          <img src="/images/masaje-abdominal.png"
          class="card-img-top card-masajeTerapeutico-imagen" alt="Mujer embarazada recibiendo un masaje de drenaje linfático pre natal"/>
          <div class="card-body">
             <a class="btn btn-primary btn-lg rounded-5" href="/contacto">AGENDÁ TU SESIÓN HOY!</a>
          </div>
        </div>
      </article>

      <article class="col-12 col-md-6 col-lg-3 d-flex py-3">
        <div class="card mx-auto card-masajeTerapeutico" style="width: 16rem;">
          <img src="/images/drenaje-linfatico-prenatal.png"
            class="card-img-top card-masajeTerapeutico-imagen" alt="Rostro de una mujer y el numero 3 y 5 indicando las sesiones necesarias"/>
          <div class="card-body">
            <a class="btn btn-primary btn-lg rounded-5" href="/contacto">AGENDÁ TU SESIÓN HOY!</a>
          </div>
        </div>
      </article>

      <article class="col-12 col-md-6 col-lg-3 d-flex py-3">
        <div class="card mx-auto card-masajeTerapeutico" style="width: 16rem;">
          <img src="/images/masaje-craneo-facial.png"
            class="card-img-top card-masajeTerapeutico-imagen" alt="Imagen de masaje craneo facial en hombre recostado en camilla"/>
          <div class="card-body">
            <a class="btn btn-primary btn-lg rounded-5" href="/contacto">AGENDÁ TU SESIÓN HOY!</a>
          </div>
        </div>
      </article>

      <article class="col-12 col-md-6 col-lg-3 d-flex py-3">
        <div class="card mx-auto card-masajeTerapeutico" style="width: 16rem;">
          <img src="/images/masaje-podal.png"
            class="card-img-top card-masajeTerapeutico-imagen" alt="Masaje podal sobree los pies de una mujer"/>
          <div class="card-body">
            <a class="btn btn-primary btn-lg rounded-5" href="/contacto">AGENDÁ TU SESIÓN HOY!</a>
          </div>
        </div>
      </article>

    </section>
  </div>
  <!-- FIN  CARDS MASAJE TERAPEUTICO  -->

  
  <!-- INICIO  MASAJE TERAPEUTICO INFO-TEXTO 2 -->
  <div class="container mb-4 pt-4">
    <section id="masajes-terapeuticos-info" class="row pt-2">
      <!-- 1 Col ocupará 6 lugares del lado derecho -->
      <article class="col-12 col-lg-6 order-lg-1 mt-4">
        <h5>MÉTODO</h5>
        <p> Con más de 2 décadas de experiencia, Andrea Rios implementa una "combinación efectiva" de MASAJES + EQUIPAMIENTOS TECNOLOGICOS. 
          <br>Estos últimos forman parte de los aliados para proveer MASAJES TERAPÉUTICOS EFECTIVOS.
          <ul>
            <li> Ondas T.E.N.S</li>
            <li> Ultrasonido </li>
            <li> Lámpara infrorroja</li>
          </ul>
        </p>
      </article>
      <!--Esta columna ocupará 6 lugares -->
      <article class="col-12 col-lg-6 mt-4">
        <h5>OBJETIVOS</h5>
        <p> Mejorar la calidad de vida es el objetivo fundamental. Además el masaje proporciona:
          <ul> 
            <li>Relajación, bienestar y recuperación física.</li>
            <li>Conservación de la salud física y el bienestar psicológico .</li>
            <li>Alivio de molestias en distintas partes del cuerpo.</li>
            <li>Distención muscular. Flexibilización de los tejidos.</li>
            <li>Mejora en la circulación sanguínea y linfática.</li>
          </ul> </p>
      </article>
    </section>
  </div>
  <!-- FIN  MASAJE TERAPEUTICO INFO-TEXTO 2-->

  <!-- INICIO MASAJE TERAPEUTICO BANNER CON CIRCULOS FIJO -->
  <section id="masajeTerapeutico">
    <div class="container">

      <div class="img-masaje-terapeutico">
        <div class="row">
          <img class="img-fluid" src="/images/masaje-terapeutico-andrea-rios-circulos.png"
          width="100%" alt="persona recostada con máscara de terapia led"/>
        </div>
      </div>
    </div>
  </section>
  <!-- FIN MASAJE TERAPEUTICO BANNER CIRCULOS FIJO -->
 
  
  <section id="masaje-terapeutico">
    <div class="container">
      <div class="tarjetas-masajes-terapeuticos-list">

        <div>
          <h3 class="text-center">DURACIÓN</h3>
          <ul>
            <i class="bi bi-check-circle"> Entre 3 y 6 sesiones aproximadamente. (*)</i><br />
            <i class="bi bi-check-circle"> Apto para niños, adolescentes y adultos.</i><br />
            <i class="bi bi-check-circle"> Hombres y mujeres.</i><br />
            <br> (*) Según criterio profesional o prescripción médica.<br />
          </ul>
        </div>

        <div>
          <h3 class="text-center">VENTAJAS</h3>
          <ul>
            <i class="bi bi-check-circle"> Facilitan la eliminación de toxinas.</i><br/>
            <i class="bi bi-check-circle"> Activan la circulación sanguínea.</i><br/>
            <i class="bi bi-check-circle"> Mejoran el aporte de oxígeno a los tejidos.</i><br/>
            <i class="bi bi-check-circle"> Eliminan tensiones, aliviar y reducir el dolor.</i><br/>
            <i class="bi bi-check-circle"> Activan la circulacion linfática.</i><br/>  
            <i class="bi bi-check-circle"> Recuperar la movilidad restringida.</i><br/>
          </ul>
        </div>

        <div>
          <h3 class="text-center">TÉCNICAS</h3>
          <ul>
            <i class="bi bi-check-circle"> Roce-deslizamiento (effeurage).</i><br />
            <i class="bi bi-check-circle"> Amasamiento (pétrissage).</i><br />
            <i class="bi bi-check-circle"> Fricciones.</i><br />
            <i class="bi bi-check-circle"> Compresión.</i><br />
            <i class="bi bi-check-circle"> Percusión (hachement) y (tapotement).</i><br />
            <i class="bi bi-check-circle"> Vibraciones.</i><br />
          </ul>
        </div>

      </div>
    </div>
  </section>
  <!-- FIN TARJETAS MASAJE TERAPEUTICO -->

  <!-- INICIO MASAJE TERAPEUTICO HERO DE ABAJO FIJO -->
  <section id="masaje-terapeutico-hero-fijo" class="scroll_section">
    <div class="container-fluid">
      <div class="row masaje-terapeutico-hero-fijo align-items-start">
        <article class="col-12 col-lg-8 offset-lg-2">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h3>CUIDÁ TU
          <br> CUERPO!</h3>
          <p>ES EL ÚNICO QUE TENÉS...</p>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="col text-start">
            <a class="btn btn-primary btn-lg rounded-5" href="/contacto">AGENDÁ
              TU SESIÓN HOY!</a>
          </div>
        </article>
      </div>
    </div>
  </section>
  <!-- FIN MASAJE TERAPEUTICO HERO DE ABAJO FIJO -->

</main>