<main class="pt-0 bg-gradient-gray-white">

   <section id="bbGlow" class="scroll_section">
    <div class="container-fluid">
      <div class="row align-items-center nano-botox-hero">
        <div class="col-lg-4 offset-lg-2">
          <h3>NANO BOTOX</h3>
          <p>Es un tratamiento estético, efecto piel de porcelana, <br>
          con componentes cosméticos que duran hasta un año.</p>
          <br/>

          <ul>
            <i class="bi bi-check-circle">
              Se utilizan viales importados de BB Glow.</i><br />
            <i class="bi bi-check-circle">
              Es más que maquillaje semipermanente.</i><br />           
            <i class="bi bi-check-circle">
              Difumina imperfecciones progresivamente.</i><br />
            <i class="bi bi-check-circle">
              Se recomiendan entre 3 y 5 sesiones.</i><br />
            <i class="bi bi-check-circle">
              Ilumina el tono e hidrata profundamente la piel.</i><br />
          </ul>

          <br/>
          NO apto para pieles con acné activo, rosácea y piel atópica
          <br/><br/>

          <a class="btn btn-bbglow btn-lg rounded-5" href="/contacto">AGENDÁ TU
            SESIÓN HOY!</a>
        </div>
      </div>
    </div>
  </section>




  <!-- INICIO PEELING CAROUSEL-->
  <section id="botox-carousel" class="scroll_section">

    <div id="carouselBotox" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselBotox" data-bs-slide-to="0" 
          class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselBotox" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselBotox" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/nano-botox-andrea-rios2.jpg" class="d-block w-100" alt="nano-botox-1"/>
        </div>
        <div class="carousel-item">
          <img src="/images/nano-botox.jpg" class="d-block w-100" alt="nano-botox-2"/>
        </div>
        <div class="carousel-item">
          <img src="/images/nano-botox-andrea-rios.jpg" class="d-block w-100" alt="peeling-3"/>
        </div>
        <div class="carousel-item">
          <img src="/images/peeling-4.png" class="d-block w-100" alt="peeling-4"/>
        </div>
         <div class="carousel-item">
          <img src="/images/peeling-5.png" class="d-block w-100" alt="peeling-5"/>
        </div>
      </div>

      <button
        class="carousel-control-prev" type="button" 
        data-bs-target="#carouselBotox" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button
        class="carousel-control-next" type="button"
        data-bs-target="#carouselBotox" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>
  </section> 
</main>