<main class="pt-0 bg-gradient-gray-white">

  <!-- INICIO NANO-BOTOX HERO -->
  <section id="nanoBotox">
    <div class="container-fluid">
      <div class="row align-items-center nano-botox-hero">
        <div class="col-lg-4 offset-lg-2">
          <h3>NANOBOTOX</h3>
          <p> El tratamiento estrella de
          <br>la estética preventiva.
          <br>¡Con nanotecnología SIN
          <br>paralizar los músculos!
          </p>
          <br/><br/>
          <a class="btn btn-primary btn-lg rounded-5" href="/contacto">AGENDÁ TU
            SESIÓN HOY!</a>
        </div>
      </div>
    </div>
  </section>
  <!-- FIN NANO-BOTOX HERO -->

   <!-- INICIO NANO-BOTOX ARTICULO -->
  <section id="textoNanoBotox">
    <div class="container pt-4">
      <div class="row">

        <!-- 1 columna que ocupará 12 lugares.-->
        <article class="col-12 col-lg-8 offset-lg-2"> 
          <h5 class="text-center">¿QUÉ ES NANOBOTOX?</h5>
          <p class="align-items-center">Es la última <i>vanguardia tecnológica preventiva</i> para arrugas y líneas de expresión. Tratamiento de efecto lifting NO invasivo que hidrata, reafirma y rejuvenece la piel desde adentro. <br></p> <p> Este tratamiento es personalizado según las necesidades del biotipo cutáneo y la patología espécifica del paciente. </p>
        </article>

        <!-- 1 Col ocupará 6 lugares del lado derecho -->
        <article class="col-12 col-lg-6 order-lg-1 mt-4">
          <h5>BENEFICIO Y APLICACIONES </h5>
          <P>Mejora la estructura de la piel para mantenerla elástica y firme desde el interior manteniendo un aspecto estilizado y joven. Es adecuado para: <br>
          <ul>
            <li>Arrugas de expresión y nasogenianas.</li>
            <li>Entrecejo y patas de gallo.</li>
            <li>Labio superior y área peribucal.</li>
          </ul>
          </p>
        </article>

        <!--Esta columna ocupará 6 lugares -->
        <article class="col-12 col-lg-6 mt-4">
          <h5>PROCEDIMIENTO </h5>
          <p class="text-justify"> Se emplea como método de aplicación un dispositivo con nanotecnología, que infiltra diversos productos cosméticos.
           <ul>
            <li>NO emplea toxina botulínica </li>
            <li>No paraliza los músculos.</li>
            <li>Relaja los músculos faciales.</li>
          </ul>
          </p>
        </article>
      </div>    
    </div>
  </section>
  <!-- FIN NANO-BOTOX ARTICULO -->  


  <!-- INICIO NANO-BOTOX CAROUSEL-->
  <section>

    <div id="carouselNanoBotox" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselNanoBotox"
          data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
        </button>
        <button type="button" data-bs-target="#carouselNanoBotox"
          data-bs-slide-to="1" aria-label="Slide 2">
        </button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="2000">
          <img src="/images/nano-botox-andrea-rios.png" 
          class="d-block w-100" alt="nanobotox-andrea-rios-1"/>
        </div>
        <div class="carousel-item" data-interval="2000">
          <img src="/images/nano-botox-andrea-rios-1.png" 
          class="d-block w-100" alt="nanobotox-andrea-rios-2"/>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" 
       data-bs-target="#carouselNanoBotox" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button"
       data-bs-target="#carouselNanoBotox" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>
  </section>
   <!-- FIN NANO-BOTOX CAROUSEL-->

</main>