<main class="pt-0 bg-gradient-gray-white">

  <!-- INICIO NANO-BOTOX HERO -->
  <section id="nanoBotox">
    <div class="container-fluid">
      <div class="row align-items-center nano-botox-hero">
        <div class="col-lg-4 offset-lg-2">
          <h3>NANOBOTOX</h3>
          <p>El tratamiento estrella de la estética preventiva.
          <p class="col-10 offset-lg-0"> Procedimiento no invasivo de inducción de
          <br/> activos para el rejuvenecimiento facial que
          <br/> estimula al organismo a la producción de
          <br/> colágeno y elastina.
          </p>
          <br/><br/>
          <a class="btn btn-primary btn-lg rounded-5" href="/contacto">AGENDÁ TU
            SESIÓN HOY!</a>
        </div>
      </div>
    </div>
  </section>
  <!-- FIN NANO-BOTOX HERO -->

  <!-- INICIO NANO-BOTOX CAROUSEL-->
  <section>

    <div id="carouselNanoBotox" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselNanoBotox"
          data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
        </button>
        <button type="button" data-bs-target="#carouselNanoBotox"
          data-bs-slide-to="1" aria-label="Slide 2">
        </button>
        <button type="button" data-bs-target="#carouselNanoBotox"
          data-bs-slide-to="2" aria-label="Slide 3">
        </button>
      </div>

      <div class="carousel-inner">

        <div class="carousel-item active" data-interval="2000">
          <img src="/images/nano-botox-andrea-rios.png" class="d-block w-100" alt="nanobotox-dermapen-andrea-rios-1"/>
          <div class="carousel-caption-botox d-none d-md-block">
            <p class="text-justify"> <strong>¿QUÉ ES NANOBOTOX?</strong>
            Es la última <strong>vanguardia tecnológica</strong> en el rejuvenecimiento y recuperación de la piel. 
            <br/> Efectivo para reducir los poros, marcas de acné, cicatrices, manchas de la edad y estrías finas.
            <br/> Corrige imperfecciones -arrugas en la frente, líneas de expresión, líneas de la sonrisa y labios, patas de gallo-. 
            </p>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br><br><br>
          </div>
        </div>

        <div class="carousel-item" data-interval="2000">
          <img src="/images/nano-botox-andrea-rios-2.png" class="d-block w-100" alt="nanobotox-dermapen-andrea-rios-2"/>
          <div class="carousel-caption-botox d-none d-md-block">
            <p class="text-justify"> <strong>PROCEDIMIENTO: </strong>
            El procedimiento se basa en la inducción de una combinación de activos que se aplican con un dispositivo de microneedling para tratamientos ANTI-AGE que mejoran la textura e hidratación del cutis.
            </p>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br>
          </div>
        </div>

        <div class="carousel-item" data-interval="2000">
          <img src="/images/nano-botox-andrea-rios-3.png" class="d-block w-100" alt="nanobotox-dermapen-andrea-rios-3"/>
            <div class="carousel-caption-botox d-none d-md-block">
              <p class="text-justify"><strong>CONTRAINDICACIONES:</strong>
              NO apto para pieles con acné activo, rosácea, piel atópica, psoriasis y eczema.
              <br/>No recomendable en embarazadas y personas con anticoagulantes como la heparina.
              <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            </p>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" 
       data-bs-target="#carouselNanoBotox" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button"
       data-bs-target="#carouselNanoBotox" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>
  </section>
  <!-- FIN NANO-BOTOX -->  
</main>