<main class="pt-0 bg-gradient-gray-white">

  <!-- INICIO PEELING CAROUSEL-->
  <section id="peeling-carousel" class="scroll_section">

    <div id="carouselPeeling" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselPeeling" data-bs-slide-to="0" 
          class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselPeeling" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselPeeling" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselPeeling" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
         <button type="button" data-bs-target="#carouselPeeling" data-bs-slide-to="4"
        aria-label="Slide 5"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/peeling-1.png" class="d-block w-100" alt="peeling-1"/>
        </div>
        <div class="carousel-item">
          <img src="/images/peeling-2.png" class="d-block w-100" alt="peeling-2"/>
        </div>
        <div class="carousel-item">
          <img src="/images/peeling-3.png" class="d-block w-100" alt="peeling-3"/>
        </div>
        <div class="carousel-item">
          <img src="/images/peeling-4.png" class="d-block w-100" alt="peeling-4"/>
        </div>
         <div class="carousel-item">
          <img src="/images/peeling-5.png" class="d-block w-100" alt="peeling-5"/>
        </div>
      </div>

      <button
        class="carousel-control-prev" type="button" 
        data-bs-target="#carouselPeeling" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button
        class="carousel-control-next" type="button"
        data-bs-target="#carouselPeeling" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>
  </section> 
  <!-- FIN PEELING CAROUSEL -->

  <!-- INICIO PEELING -->
  <section id="peeling-fijo" class="scroll_section">
    <div class="container-fluid"> 
      <div class="row align-items-center peeling-hero-fijo ">
        <article class="col-12 col-lg-8 offset-lg-2">
          <h4>PEELING'S FACIALES</h4>
          <br />
          <p>El peeling es un tratamiento que sirve para exfoliar la piel en mayor o menor profundidad. Durante la implementación de los peeling's se remueven las capas externas de la piel dañada o muerta para su renovación celular.</p>
          <p>Algunos beneficios de los peeling's:</p>
          <ul>
            <i class="bi bi-check-circle"> Rejuvenecen el cutis aportando luminosidad y firmeza.</i><br />
            <i class="bi bi-check-circle"> Mejoran la textura del cutis.</i><br/>
            <i class="bi bi-check-circle"> Disipan líneas finas de expresión y arrugas.</i><br/>
            <i class="bi bi-check-circle"> Eliminan manchas solares y la pigmentación irregular.</i><br/>
            <i class="bi bi-check-circle"> Remueven imperfecciones suavizando cicatrices y marcas de acné.</i><br/>
            <i class="bi bi-check-circle"> Reducen la congestión y los brotes de acné.</i><br/>
            <i class="bi bi-check-circle"> Destapan los poros y disminuyen el tamaño de los mismos.</i><br/>                      
            <i class="bi bi-check-circle"> Suprimen puntos negros (comedones).</i><br/>
            <i class="bi bi-check-circle"> Eliminan las células muertas e impurezas de la piel.</i><br/>          
          </ul>
          <br />
          <br>
          <div class="col text-start">
            <a class="btn btn-primary btn-lg rounded-5" href="/contacto">AGENDÁ TU SESIÓN HOY!</a>
          </div>
        </article>
      </div>
    </div>
  </section>
   <!-- FIN PEELING -->

   <!-- INICIO CARDS TIPOS DE PEELING -->
  <section id="peeling-tipos" class="scroll_section">
    <div class="container-fluid"> 
      <div id="" class="row align-items-stretch tipos-de-peeling py-3">
        <div class="col-lg-8 offset-lg-2">
          <h4>TIPOS DE PEELING'S</h4>
          <br>
          <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
              <div class="card"><img src="images/peeling-facial-1.jpg" class="card-img-top" alt="peeling-facial-1"/>
                <div class="card-body">
                  <h5 class="card-title text-center">FÍSICO</h5>
                  <p class="card-text">Se aplican productos con partículas pequeñas que actuan mediante fricción.</p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card"><img src="images/peeling-facial-2.jpg" class="card-img-top" alt="peeling-facial-2"/>
                <div class="card-body">
                  <h5 class="card-title text-center">MECÁNICO</h5>
                  <p class="card-text">Microdermoabrasión con PUNTAS DE DIAMANTES y Dermaplaning.</p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card"><img src="images/peeling-facial-3.jpg" class="card-img-top" alt="peeling-facial-3"/>
                <div class="card-body">
                  <h5 class="card-title text-center">QUÍMICO</h5>
                  <p class="card-text">Sa aplican ÁCIDOS AHA’s (glicólico, láctico, vitamina C, mandélico, etc.)</p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card"><img src="images/peeling-facial-4.jpg" class="card-img-top" alt="peeling-facial-4"/>
                <div class="card-body">
                  <h5 class="card-title text-center">ULTRASÓNICO</h5>
                  <p class="card-text">Se utiliza una espátula de acero quirúrgico que emite ondas ultrasónicas.</p>
                </div>
              </div>
            </div>   
          </div>
          <br>
          <p>
            <i class="bi bi-check-circle"> <strong> PRECAUCIONES PRE PEELING:</strong> 
            NO "depilarse con cera", NO someterse a shading , microshading, phishading ni microblading.</i><br/>
            <i class="bi bi-check-circle"> <strong> PRECAUCIONES POST PEELING: </strong> 
            Evitar el sol, piscina, sauna, baños de vapor, cosméticos y perfumes.</i>
          </p>
          <p> Como <strong> COSMETÓLOGA y COSMIATRA </strong>
          sólo utilizo equipamiento, insumos y soluciones tecnológicas de 1º calidad para
          garantizar la seguridad y eficacia de todos los tratamientos que implemento.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- FIN CARDS TIPOS DE PEELING -->

</main>