<main class="pt-0">
  <!-- INICIO RADIOFRECUENCIA CORPORAL HERO -->
  <section id="radiofrecuencia" class="scroll_section">
    <div class="container-fluid" id="radiofrecuencia-hero-image">
      <div class="row align-items-center radiofrecuencia-corporal-hero">
        <div class="col-lg-4 offset-lg-3">
          <h4>RADIOFRECUENCIA <br> 
          CORPORAL</h4> 
          <p> Tratamiento estético líder para
          <br> combatir celulitis y flacidez.
          </p>
          <div class="text-start">
            <a class="btn btn-primary btn-lg rounded-5" href="/contacto">AGENDÁ TU SESIÓN HOY!</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- FIN RADIOFRECUENCIA CORPORAL HERO -->


  <!-- INICIO CONTAINER RADIOFRECUENCIA CORPORAL -->
  <div class="container mb-4 pt-4">
    <section class="row">

      <!-- 1 columna que ocupará 12 lugares.-->
      <article class="col-12 col-lg-8 offset-lg-2">
        <h5 class="text-center">¿Querés eliminar flacidez y celulitis corporal?</h5>
        <br>
        <p class="align-items-center">La radiofrecuencia focalizada es una técnica de estética corporal desarrollada NO INVASIVA para mejorar la silueta, tonificar el cuerpo, eliminar la celulitis y flacidez. Altamente recomendada para #hombres y #mujeres por sus resultados visibles en poco tiempo.</p>
      </article>
      
      <article class="col-12 col-lg-6 order-lg-1 mt-4">
        <!-- 1 Col ocupará 6 lugares del lado derecho -->
        <h5>PROCEDIMIENTO</h5>
        <p>Es un procedimiento estético corporal que no requiere cirugía, ni inyecciones, es sencillo, seguro y con resultados progresivos. 
        <br>
        <br> La cantidad de sesiones para asegurar el objetivo dependerá de la zona a tratar, la cantidad del tejido adiposo a reducir, la flacidez, y la celulitis.
        <br>
        <br> No genera frío ni calor en exceso y no succiona la piel. No daño los tejidos. No genera hematomas. Es NO invasivo. 
        </P>
      </article>

      <!--Esta columna ocupará 6 lugares -->
      <article class="col-12 col-lg-6 mt-4">
        <h5>BENEFICIOS</h5> 
        <P> Es el tratamiento predilecto para eliminar esa grasa corporal localizada que no se elimina con ningún otro tratamiento.
        <br>
        <br>Ideal para esculpir el cuerpo: brazos, entrepiernas, abdomen, gluteos, piernas, espalda, etc.
        <br>
        <br> Además la radiofrecuencia tripolar tensa la piel flácida, mejorar la luminosidad y elimina la piel de naranja.
      </article>
    </section>
  </div>
  <!-- FIN CONTAINER RADIOFRECUENCIA CORPORAL -->


  <!-- INICIO TARJETAS RADIOFRECUENCIA -->
  <section id="radiofrecuencia-corporal-card">
    <div class="container">
      <div class="tarjetas-radiofrecuencia-list">

        <div>
          <h3 class="text-center">APLICACIONES</h3>
          <ul>
            <i class="bi bi-check-circle"> Entre 8 y 12 sesiones por zona.</i><br />
            <i class="bi bi-check-circle"> Entre 2 y 3 veces por semana. (*)</i><br />
            <i class="bi bi-check-circle"> Apto para todo tono de piel.</i><br />
            <i class="bi bi-check-circle"> Puede aplicarse dutrante todo el año.</i><br />
            <i class="bi bi-check-circle"> Apto para hombres y mujeres.</i><br />            
            <br>
            (*)Acorde al criterio profesional y la zona a tratar.<br />
          </ul>
        </div>

        <div>
          <h3 class="text-center">CONTRAINDICACIONES</h3>
          <ul>
            <i class="bi bi-check-circle">  Personas con alteraciones de la piel.</i><br />
            <i class="bi bi-check-circle">  Enfermedades del sistema circulatorio.</i><br/>
            <i class="bi bi-check-circle">  Zonas con implantes o prótesis metálicas.</i><br/>
            <i class="bi bi-check-circle">  Personas con marcapasos / tumores / fracturas.</i><br/>
            <i class="bi bi-check-circle">  Mujeres embarazadas / en período de lactancia.</i><br />
            <i class="bi bi-check-circle">  Personas con epilepsia o hemorragias.</i><br />
            <i class="bi bi-check-circle">  Personas con implantes de colágeno reciente.</i><br />
          </ul>
        </div>

      </div>
    </div>
  </section>
  <!-- FIN TARJETAS RADIOFRECUENCIA  -->

  <!-- INICIO CONTAINER CON GRÁFICO RADIOFRECUENCIA -->
  <article class="container">
    <section id="Container" class="row align-items-center px-3 pt-3">

      <article class="col-12 col-lg-5 align-items-center pe-0">
        <h5>TECNOLOGÍA AVANZADA | TRIPOLAR</h5>
        <br>
        <p>La tecnología más avanzada en radiofrecuencia es la TRIPOLAR.
        <br>
        <br> Esta tecnología utiliza ondas electromagnéticas que logran penetrar desde las capas más superficiales de la piel hasta las más profundas.
        <br>
        <br> La radiofrecuencia convierte la energía electromagnética de alta frecuencia en efecto térmico cuando esa energía es absorbida por los tejidos corporales y desencadena respuestas fisiológicas controladas.</p>
      </article>

      <article class="col-12 col-lg-7 pt-2 me-0">
        <img class="img-fluid ps-5 grafico-radiofrecuencia" src="/images/grafico-radiofrecuencia-corporal.png"
        width="80%" alt="Gráfico indicando las ondas magnéticas trabajando en radiofrecuencia corporal"/>
      </article>

    </section>
  </article>
  <!-- FIN CONTAINER CON GRÁFICO RADIOFRECUENCIA -->


</main>