<main class="pt-0 ">
  <!-- INICIO HERO RADIOFRECUENCIA FACIAL -->
  <section id="raiofrecuenciafacial" class="scroll_section">
    <div class="container-fluid" id="radiofrecuencia-hero-image">
      <div class="row align-items-center radiofrecuencia-facial-hero">
        <div class="col-lg-4 offset-lg-3">
          <h4>RADIOFRECUENCIA <br> 
          FACIAL</h4> 
          <p> Un método seguro, sencillo
          <br> y no invasivo para tratar
          <br> flacidez y arrugas del rostro.
          </p>
          <div class="text-start">
            <a class="btn btn-primary btn-lg rounded-5" href="/contacto">AGENDÁ TU SESIÓN HOY!</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- FIN HERO RADIOFRECUENCIA FACIAL -->

  <!-- INICIO CONTAINER RADIOFRECUENCIA FACIAL -->
  <div class="container mb-4 pt-4">
    <section class="row">
      <!-- 1 Col ocupará 6 lugares del lado derecho -->
      <article class="col-12 col-lg-6 order-lg-1 mt-4">
        <h5 class="text-center">PROCEDIMIENTO</h5>
        <p> La radiofrecuencia facial es un sistema que estimula la producción de colágeno y elastina propios mediante el incremento la temperatura de la dermis. 
        <br>
        <br> Este aumento de colágeno brinda tensión al tejido y la zona tratada, procurando disminuir la flacidez y otorgando un rejuveneciendo del área.
        <br>
        <br> Este tratamiento es una práctica facial segura para mujeres y hombres.
        </p>
      </article>

      <!--Esta columna ocupará 6 lugares -->
      <article class="col-12 col-lg-6 mt-4">
        <h5 class="text-center">BENEFICIOS</h5> 
        <P> 
          <ul>
            <i class="bi bi-check-circle">  Estimula la producción de colágeno propia.</i><br>
            <i class="bi bi-check-circle">  Otorgar mayor elasticidad de la piel.</i><br>
            <i class="bi bi-check-circle">  Difumina arrugas, devolviéndole al rostro la juventud.</i><br>
            <i class="bi bi-check-circle">  Activa la circulación sanguínea.</i><br>
            <i class="bi bi-check-circle">  Devuelve toda la luminosidad a la piel.</i><br>
            <i class="bi bi-check-circle">  Reduce visiblemente la flacidez.</i><br>
          </ul>
        </P>
      </article>
    </section>
  </div>
  <!-- FIN CONTAINER RADIOFRECUENCIA FACIAL -->

</main>
