<main class="pt-0 bg-gradient-gray-white">

  <section id="raiofrecuenciafacial" class="scroll_section">
    <div class="container-fluid" id="radiofrecuencia-hero-image">
      <div class="row align-items-center radiofrecuencia-hero">
        <div class="col-lg-4 offset-lg-2">
          <h4>RADIOFRECUENCIA <br> 
          CORPORAL</h4> 
          <p> Tratamiento estético líder para
          <br> combatir celulitis y flacidez.
          </p>
          <div class="text-start">
            <a class="btn btn-primary btn-lg rounded-5" href="/contacto">AGENDÁ TU SESIÓN HOY!</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container mb-4 pt-4">
    <section class="row">
      <!-- 1 columna que ocupará 12 lugares.-->
      <article class="col-12 col-lg-8 offset-lg-2">
        <h5 class="text-center">¿Querés eliminar flacidez y celulitis corporal?</h5>
        <br>
        <p class="align-items-center">La radiofrecuencia focalizada es una técnica de estética corporal desarrollada para mejorar la silueta, tonificar el cuerpo, eliminar la celulitis y también la flacidez.</p>
      </article>

      <!-- 1 Col ocupará 6 lugares del lado derecho -->
      <!-- INICIO FORMULARIO CONTACTO -->
      <article class="col-12 col-lg-6 order-lg-1 mt-4">
        <h5>PROCEDIMIENTO</h5>
         <p> Esta técnica de estética facial elimina la capa superior de la piel constituida por células muertas y vello facial desencadenando la regeneración celular. <br>
         Así, ayuda a unificar el tono de la piel y el tamaño de los poros. Además, le da a la piel una apariencia suave y hace que el maquillaje se aplique mejor. </p>
      </article>


      <!--Esta columna ocupará 6 lugares -->
      <article class="col-12 col-lg-6 mt-4">
        <h5>BENEFICIOS</h5> 
        <P> El DERMAPLANING proporciona una mejor superficie para otros tratamientos, como PEELING'S QUÍMICOS o TERAPIA LED, permitiendo que sean más efectivos para trabajar de manera eficaz. Además, permite una mayor penetración de productos como: activos, cremas, geles, emulsiones, tónicos, sérum, contorno de ojos y más...</P>
      </article>

  </section>
</main>
