<main class="pt-0">
  <!-- INICIO RADIOFRECUENCIA CORPORAL HERO -->
  <section id="raiofrecuencia" class="scroll_section">
    <div class="container-fluid" id="radiofrecuencia-hero-image">
      <div class="row align-items-center radiofrecuencia-corporal-hero">
        <div class="col-lg-4 offset-lg-3">
          <h4>RADIOFRECUENCIA <br> 
          CORPORAL</h4> 
          <p> Tratamiento estético líder para
          <br> combatir celulitis y flacidez.
          </p>
          <div class="text-start">
            <a class="btn btn-primary btn-lg rounded-5" href="/contacto">AGENDÁ TU SESIÓN HOY!</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- FIN RADIOFRECUENCIA CORPORAL HERO -->


  <!-- INICIO CONTAINER RADIOFRECUENCIA CORPORAL HERO -->
  <div class="container mb-4 pt-4">
    <section class="row">
      <!-- 1 columna que ocupará 12 lugares.-->
      <article class="col-12 col-lg-8 offset-lg-2">
        <h5 class="text-center">¿Querés eliminar flacidez y celulitis corporal?</h5>
        <br>
        <p class="align-items-center">La radiofrecuencia focalizada es una técnica de estética corporal desarrollada para mejorar la silueta, tonificar el cuerpo, eliminar la celulitis y flacidez. Altamente recomendada para #hombres y #mujeres por sus resultados visibles en poco tiempo.</p>
      </article>
      
      <article class="col-12 col-lg-6 order-lg-1 mt-4">
        <!-- 1 Col ocupará 6 lugares del lado derecho -->
        <h5>PROCEDIMIENTO</h5>
        <p>Es un procedimiento estético corporal que no requiere cirugía, ni inyecciones, es sencillo, seguro y con resultados progresivos. 
        <br> La cantidad de sesiones para asegurar el objetivo dependerá de la zona a tratar, la cantidad del tejido adiposo a reducir, la flacidez, y la celulitis. Por lo general un tratamiento dura entre 8 y 12 sesiones.<br>
         </p>
      </article>

      <!--Esta columna ocupará 6 lugares -->
      <article class="col-12 col-lg-6 mt-4">
        <h5>BENEFICIOS</h5> 
        <P> Es el tratamiento predilecto para eliminar esa grasa corporal localizada que no se elimina con ningún otro tratamiento. Ideal para tratar brazos, entrepiernas, abdomen, gluteos, piernas, espalda, etc.
        <br> No genera frío ni calor en exceso y no succiona la piel. No daño los tejidos. No genera hematomas. Es NO invasivo.
        </P>
      </article>
    </section>
  </div>
  <!-- FIN CONTAINER RADIOFRECUENCIA CORPORAL HERO -->

</main>