<main class="pt-0 bg-gradient-gray-white">
 
  <!-- INICIO REFLEXOLOGÍA CORPORAL HERO -->
  <section id="reflexologia" class="scroll_section">
    <div class="container-fluid" id="reflexologia-hero-image">
      <div class="row align-items-center reflexologia-hero">
        <div class="col-lg-4 offset-lg-2">
          <h4>REFLEXOLOGÍA
          <br>PODAL</h4>
          <p> Tratamiento de zonas reflejas
          <br> para la autoregulación del
          <br> cuerpo humano.
          <br>
          <br> El cuerpo se refleja
          <br> en los pies.
          </p>
          <div class="text-start">
            <a class="btn btn-primary btn-lg rounded-5" href="/contacto">AGENDÁ TU SESIÓN HOY!</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- FIN REFLEXOLOGÍA CORPORAL HERO -->

   <!-- INICIO CONTAINER REFLEXOLOGÍA FACIAL -->
  <div class="container mb-4 pt-4">
    <section class="row">
      <!-- 1 Col ocupará 6 lugares del lado derecho -->
      <article class="col-12 col-lg-6 order-lg-1 mt-4">
        <h5 class="text-center">¿QUÉ ES LA REFLEXOLOGÍA?</h5>
        <p>Es un tratamiento manual terapéutico, que se basa en una técnica de masajes aplicados en determinados puntos: 
        <br>- PIES,
        <br>- MANOS,
        <br>- OREJAS,
        <br>- CRÁNEO.
        <br> La técnica más conocida es la "reflexología podal", donde las distintas partes del cuerpo y sus órganos están reflejadas en la planta del pie y el pie en su conjunto.
        <br> Así, se pueden tratar órganos, músculos, víceras y otras partes del cuerpo, estimulando los mecanismos autocurativos del organismo.
        </p>
      </article>

      <!--Esta columna ocupará 6 lugares -->
      <article class="col-12 col-lg-6 mt-4">
        <h5 class="text-center">BENEFICIOS</h5> 
        <P> 
          <ul>
            <i class="bi bi-check-circle">  Es relajante.</i><br>
            <i class="bi bi-check-circle">  Fortalece el sistema inmunológico.</i><br>
            <i class="bi bi-check-circle">  Calma el estrés y la ansiedad.</i><br>
            <i class="bi bi-check-circle">  Favorece la circulación sanguínea.</i><br>
            <i class="bi bi-check-circle">  Permite la liberación de toxinas.</i><br>
            <i class="bi bi-check-circle">  Equilibra el sist. nervioso central y periférico.</i><br>
            <i class="bi bi-check-circle">  Revitaliza la energía vital.</i><br>
            <i class="bi bi-check-circle">  Reduce el insomnio y mejora la calidad del sueño.</i><br>
            <i class="bi bi-check-circle">  Favorece mecanismos de depuración.</i><br>
            <i class="bi bi-check-circle">  Alivia el dolor de espalda, cuello, cabeza, oídos y muelas.</i><br>
          </ul>
        </P>
      </article>
    </section>
  </div>
  <!-- FIN CONTAINER REFLEXOLOGÍA FACIAL -->

    <!-- INICIO REFLEXOLOGÍA BANNER CON CIRCULOS FIJO -->
  <section id="reflexologiaBannerFijo" class="reflexologiaBannerFijo">
    <div class="container">

      <div class="img-reflexologia">
        <div class="row">
          <img class="img-fluid" src="/images/reflexologia-andrea-rios-circulos.png"
          width="100%" alt="Tres imágenes de masajes en la cabeza, las manos y los pies. Reflexología."/>
        </div>
      </div>
    </div>
  </section>
  <!-- FIN REFLEXOLOGÍA BANNER CIRCULOS FIJO -->

  <!-- INICIO TARJETAS REFLEXOLOGÍA -->
  <section id="radiofrecuencia-corporal-card">
    <div class="container">
      <div class="tarjetas-radiofrecuencia-facial-list">

        <div>
          <i class="fa-solid fa-list-check"></i>
          <h3 class="text-center">APLICACIONES</h3>
          <ul>
            <i class="bi bi-check-circle"> Depende del objetivo o la patología a tratar.</i><br />
            <i class="bi bi-check-circle"> Una vez al mes para tratamientos preventivos.</i><br />
            <i class="bi bi-check-circle"> Mensualmente para tratamientos de mantenimiento.</i><br />
            <i class="bi bi-check-circle"> Entre 2 y 3 veces por semana en patologías crónicas. (*)</i><br />          
            <br>
            (*)Acorde al criterio profesional y la zona a tratar.<br />
          </ul>
        </div>

        <div>
          <i class="fa-solid fa-ban"></i>
          <h3 class="text-center">CONTRAINDICACIONES</h3>
          <ul>
            <i class="bi bi-check-circle"> En crisis agudas de problemas cardíacos (infarto, ictus, tromboflebitis, gangrena en plena crisis aguda).</i><br />
            <i class="bi bi-check-circle"> Enfermedades del sistema circulatorio e infecciosas agudas.</i><br/>
            <i class="bi bi-check-circle"> Inflamación del sist. venoso o linfático (trombosis, flebitis…).</i><br/>
            <i class="bi bi-check-circle"> Al poco tiempo de tener un implante.</i><br/>
            <i class="bi bi-check-circle"> Mujeres con embarazos riesgosos.</i><br />
            <i class="bi bi-check-circle"> Personas con infecciones en los pies.</i><br />
            <i class="bi bi-check-circle"> Personas con traumatismo, heridas o hematomas en la zona a tratar.</i><br />
          </ul>
        </div>

      </div>
    </div>
  </section>
   <!-- FIN TARJETAS REFLEXOLOGÍA -->

  <div class="col-12 col-lg-6 offset-lg-3 pt-4 pb-4">
    <p><i> <strong>IMPORTANTE:</strong> Si padece alguna patología, por favor consulte a su médico de cabecera antes se someterse a una sesión de reflexología.</i></p>
  </div>

</main>