<main>
  <!-- INICIO REIKI CAROUSEL Hero -->
  <section id="HomeCarousel">
    <div id="carouselHomeCaptions" class="carousel slide pb-2" data-bs-ride="carousel">
      <div class="carousel-indicators">

        <button type="button" data-bs-target="#carouselHomeCaptions"
          data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>

        <button type="button" data-bs-target="#carouselHomeCaptions"
          data-bs-slide-to="1" aria-label="Slide 2"></button>

        <button type="button" data-bs-target="#carouselHomeCaptions"
          data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="1000">
          <img src="/images/reiki-hero-1.png" class="d-block w-100" alt="andrea-hero-1"/>
            <div class="carousel-caption-reiki d-none d-md-block">
              <br>
              <br>
              <br>
              <br>
              <h1>REIKI</h1>
              <h5 class="text-start"> - Sesiones individuales.
                <br> - Cursos de nivel I, II y III.
              </h5>
            </div>
        </div>

        <div class="carousel-item" data-interval="1000">
          <img src="/images/reiki-hero.png" class="d-block w-100" alt="andrea-hero-2"/>
        </div>
        
        <div class="carousel-item" data-interval="1000">
          <img src="/images/reiki-hero-2.png" class="d-block w-100" alt="andrea-hero-3"/>
          <div class="carousel-caption-reiki d-none d-md-block">
            <br>
            <br>
            <br>
            <br>
            <h1>REIKI</h1>
            <h5 class="text-start"> Tratamiento energético
            <br> para armonizarte física,
            <br> mental y emocionalmente.
            </h5>
          </div>
        </div>
      </div>

      <button class="carousel-control-prev" type="button"
        data-bs-target="#carouselHomeCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button"
        data-bs-target="#carouselHomeCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>
  </section>
  <!-- FIN REIKI CAROUSEL Hero -->

  <!-- INICIO REIKI INFO-TEXTO -->
  <div class="container mb-4 pt-4">
    <section id="reiki-info" class="row pt-2">

      <!-- 1 columna que ocupará 12 lugares.-->
      <article class="col-12 col-lg-8 offset-lg-2">
        <h5 class="text-center">¿QUÉ ES EL REIKI?</h5>
        <p class="align-items-center">Una terapia energética reconocida por la Organización Mundial de la Salud. Reiki emplea la canalización y transmisión de energía vital a través de las manos para armonizar centros energéticos (chakras) del cuerpo.
        </p>
      </article>

      <!-- 1 Col ocupará 6 lugares del lado derecho -->
      <article class="col-12 col-lg-6 order-lg-1 mt-4">
        <h5>MÉTODO</h5>
        <p>
          El método de Reiki que Andrea Rios implementa es el "original" creado por MIKAO USUI (fundador en 1922 de la "Usui Reiki Ryoho Gakkai")
        <br>
        <br>Andrea Rios posee tanto el LINAJE OCCIDENTAL como el ORIENTAL de Reiki. El "linaje" te acerca a la PUREZA de las enseñanzas y técnicas de Usui. Es el “árbol genealógico” que certifica la base del aprendizaje y conocimiento de Reiki.
        <br>
        <br>Esta técnica japonesa de armonización natural ya se está aplicando como terapia para el dolor en diversos Hospitales del mundo.
        <br>
        <br>El Reiki se aplica a todo ser vivo, incluido mascotas y plantas.
        <br>
        <br>
        </p>
      </article>

      <!--Esta columna ocupará 6 lugares -->
      <article class="col-12 col-lg-6 mt-4">
        <h5>SESIONES DE REIKI</h5>
        <p> DURACIÓN: Una hora y se realizan con el paciente vestido y acostado en la camilla mientras la REIKI MASTER realiza la imposición de manos en los centros energéticos primarios y secundarios más importantes del cuerpo.
        <br>
        <br>OBJETIVO: Brindar bienestar en 4 niveles: físico, mental, emocional y espiritual.
        <br> 
        <br>RESULTADOS: Son progresivos, y visibles desde la 1º sesión.
        <br>
        <br>EFECTOS: Son acumulativos y nunca se repiten. O sea que lo que el paciente experimenta en una sesión, NUNCA será igual en otras sesiones porque su circustancia está evolucionando constantemente (al igual que la energía).
        
      </article>

    </section>
  </div>
  <!-- FIN REIKI INFO-TEXTO -->

  <!-- INICIO REIKI BANNER CON CIRCULOS FIJO -->
  <section id="reikiCirculos" class="depilacionDefinitiva">
    <div class="container">
      <div class="img-reikiCirculos">
        <div class="row">
          <img class="img-fluid" src="/images/reiki-andrea-rios-circulos.png"
          width="100%" alt="persona recostada con máscara de terapia led"/>
        </div>
      </div>
    </div>
  </section>
  <!-- FIN REIKI BANNER CIRCULOS FIJO -->

  <!-- INICIO REIKI HERO MEDIO FIJO -->
  <section id="reiki-hero-fijo-medio" class="scroll_section">
    <div class="container-fluid">
      <div class="row reiki-hero-fijo-2 align-items-start">

        <!--Esta columna ocupará 6 lugares -->
        <article class="col-12 col-lg-6 col-md-6 offset-lg-2 align">
          <h5>SESIÓN DE REIKI</h5>
           <a class="btn btn-primary btn-sm rounded-5" href="/contacto">AGENDÁ
              TU SESIÓN HOY!</a>
        </article>
      </div>
    </div>
  </section>
  <!-- FIN REIKI HERO MEDIO FIJO -->
  
  <div class="container">
    <article class="row reiki-importante">
      <div class="col-12 col-lg-10 offset-lg-2">
        <h5>IMPORTANTE: El Reiki NO SUSTITUYE la medicina tradicional y sus tratamientos.</h5>
      </div>
    </article>
  </div>


  <!-- INICIO TARJETAS REIKI -->
  <section id="reiki-tarjetas">
    <div class="container">
      <div class="tarjetas-reiki-list">

        <div>
          <h3 class="text-center">APLICACIONES</h3>
          <ul>
            <i class="bi bi-check-circle"> Trtatamiento Corto: 5 sesiones.</i><br />
            <i class="bi bi-check-circle"> Trtatamiento Largo: 9 sesiones.</i><br />
            <i class="bi bi-check-circle"> Hombres, Mujeres (incluidas embarazadas).</i><br />
            <i class="bi bi-check-circle"> Niños y Bebés (incluidos en gestación).</i><br />          
            <i class="bi bi-check-circle"> Animales y plantas.</i><br />
            <i class="bi bi-check-circle"> Limpieza energética de ambientes: 
            <br>casas, negocios, edificios, etc.</i><br />
             <i class="bi bi-check-circle"> Limpieza energética objetos.</i><br />
          </ul>
        </div>

        <div>
          <h3 class="text-center">BENEFICIOS</h3>
          <ul>
            <i class="bi bi-check-circle"> Armonización general</i><br/>
            <i class="bi bi-check-circle"> Relajación </i><br/>
            <i class="bi bi-check-circle"> Sensación de serenidad y calma. </i><br/>
            <i class="bi bi-check-circle"> Brinda seguridad. </i><br/>
            <i class="bi bi-check-circle"> Otorga equilibrio físico y mental. </i><br/>
            <i class="bi bi-check-circle"> Libera energías reprimidas.</i><br/>
            <i class="bi bi-check-circle"> Brinda claridad mental.</i><br/>
            <i class="bi bi-check-circle"> Disminuye niveles de estrés.</i><br/>
            <i class="bi bi-check-circle"> Inclementa la energía vital.</i><br/>


          </ul>
        </div>

        <div>
          <h3 class="text-center">¿QUÉ SE SIENTE?</h3>
          <ul>
          <i class="bi bi-check-circle"> Se puede sentir calor, frío, hormigueo, ondas recorriendo el cuerpo, sensación de relajación o simplemente nada. </i><br>
          <i class="bi bi-check-circle"> Acorde al nivel de sensibilidad, la energía Reiki puede o no ser percibida por cada paciente.</i><br> 
          <i class="bi bi-check-circle"> Empero la energía trabaja de todos modos sobre el paciente, sin importar su nivel de sensibilidad.</i>
       
          </ul>
        </div>

      </div>
    </div>
  </section>
  <!-- FIN TARJETAS REIKI  -->

  <!-- INICIO REIKI HERO DE ABAJO FIJO -->
  <section id="reiki-hero-fijo" class="scroll_section">
    <div class="container-fluid">
      <div class="row reiki-hero-fijo align-items-center">
        <article class="col-12 col-lg-8 offset-lg-2">
          <h5>IMPLEMENTACIÓN</h5>
          <br />
          <ul>
              <i class="bi bi-check-circle"> Apto para hombres y mujeres.</i><br>
              <i class="bi bi-check-circle"> Aplicable para todas las edades.</i><br>
              <i class="bi bi-check-circle"> Se puede realizar todo el año.</i><br>
              <i class="bi bi-check-circle"> No requiere preparación previa.</i><br>
          </ul>
          <br />
          <div class="col text-start">
            <a class="btn btn-primary btn-lg rounded-5" href="/contacto">AGENDÁ
              TU SESIÓN HOY!</a>
          </div>
        </article>
      </div>
    </div>
  </section>
  <!-- FIN REIKI HERO DE ABAJO FIJO -->

</main>