<main class="pt-0">
  <!-- INICIO SOBRE ANDREA HERO -->
  <section id="" class="scroll_section">
    <div class="container-fluid" id="sobre-andrea-hero-image">
      <div class="row align-items-center sobre-andrea-hero ">
        <div class="col-lg-4 offset-lg-3">
          <h4></h4> 
          <p></p>
        </div>
      </div>
    </div>
  </section>
  <!-- FIN  SOBRE ANDREA HERO -->

  <!-- INICIO CONTAINER TEXTO SOBRE ANDREA -->
  <div class="container mb-4 pt-4">
    <section class="row">
      <!-- 1 columna que ocupará 12 lugares.-->
      <article class="col-12 col-lg-8 offset-lg-2">
        <p> Hola! Bienvenidos a mi sitio web. Soy Andrea Rios y desde el 2003 me dedico a la SALUD, BIENESTAR, BELLEZA y CUIDADO PERSONAL de #ellas y #ellos.
        <br>
        <br> Cuando inicié mi camino en este maravilloso mundo, trabajaba con servicios relacionados con patologías médicas y terapias preventivas mayoritariamente.
        <br>
        <br> Luego me divesifique en hotelería - trabajando en ciudades de Salta y Jujuy- con tratamientos dentro del circuito de spa, que involucraban terapias enfocadas a la belleza facial y corporal.
        <br>
        <br> En Rosario de la Frontera brindo desde hace más de 2 décadas servicios de MASOTERAPIA + ESTÉTICA para que cada persona pueda lucir y sentirse increíble.
        </p>
      </article>

    </section>
  </div>
  <!--FIN CONTAINER TEXTO SOBRE ANDREA -->

  <!-- START ABOUT -->
  <section id="about">
    <div class="container"> <!-- INICIO DIV CONTAINER -->
      <div class="row"> <!-- INICIO DIV ROW -->
        
        <div class="about-col-1">
          <img src="../images/andrea-rios-masoterapia-estetica.png" alt="Foto de Andrea Rios masoterapia y estètica con chaqueta negra, cofia negra y barbijo blanco." />
        </div>
        <div class="about-col-2">

          <!-- <h4 class="sub-title-about">CONOCÉ MÁS...</h4> -->
          <div class="tab-titles">
            <p class="tab-links active-link skills" 
            onclick="opentab('skills')">TÍTULOS</p>
            <p class="tab-links link"
              onclick="opentab('experience')">EXPERIENCIA</p>
          </div>

          <div class="tab-contents active-tab" id="skills">
            <ul>
              <li><span>MASOTERAPEUTA</span><br />Realiza masajes con fines terapéuticos para tratar enfermedades y lesiones.</li>
              <li><span>COSMETÓLOGA</span><br /> Cuida y mejora estéticamente la piel sana con productos cosméticos.</li>
              <li><span>COSMIATRA</span><br />Se especializa en la salud de la dermis y trata las patologías de piel enferma.</li>
               <li><span>ESTETICISTA INTEGRAL</span><br />Realiza procesos estéticos para mejorar la apariencia corporal y facial.</li>
              <li><span>REIKI MASTER</span><br />Terapia energética que canaliza energía vital por medio de las manos.</li>
              <li><span>BBGlow SPECIALIST</span><br />Tratamiento coreano que difumina imperfecciones del rostro.</li>
            </ul>
          </div>

          <div class="tab-contents" id="experience">
            <ul>
              <li><span>2003 - Ahora | MASOTERAPEUTA</span>
              <br><small>Tratamientos terapéuticos | Masajes descontracturantes, post-operatorios, deportivos y pre-natales. Drenajes linfáticos. Reflexología.</small></li>
              <li><span>2003 - Ahora | COSMETÓLOGA</span>
              <br><small>Tratamientos para el cuidado estético de la piel sana aplicando productos cosméticos.
              </small></li>
               <li><span>2005 - Ahora | ESTETICISTA INTEGRAL</span>
              <br><small>Terapias de relax y la belleza. Masajes sueco, relax, con piedras calientes, con pindas y esferas chinas.
              </small></li>
              <li><span>2017 - Ahora | REIKI MASTER</span>
              <br><small>Terapia energética de armonización natural | Sesiones individuales y Cursos de Niveles I, II, III y maestría. </small></li>
              <li><span>2020 - Ahora | COSMIATRA</span>
              <br><small> Especialidad sobre la fisiopatología de las alteraciones cutáneas (acné, rosácea, etc.) y su tratamiento.</small></li>
              <li><span>2021 - Ahora | BBGlow SPECIALIST</span>
              <br><small>Tratamiento facial | Difumina imperfecciones para lograr la tan deseada "piel de porcelana".</small></li>
            </ul>
          </div>

        </div>
      </div> <!-- END DIV ROW -->
    </div>  <!-- END DIV CONTAINER -->
  </section>
  <!-- END ABOUT -->

  <!-- START SERVICES -->
  <section id="services">
    <div class="container">
      <h2 class="sub-title-services">¿POR QUE ELEGIRME?</h2>
      <div class="services-list">

        <div>
          <h3 class="text-center">EXCLUSIVIDAD</h3>
          <ul>
            <i class="bi bi-check-circle"> Atención personalizada.</i><br />
            <i class="bi bi-check-circle"> Privacidad en cada sesión.</i><br />
            <i class="bi bi-check-circle"> Más de 20 años de trayectoria.</i><br />
            <i class="bi bi-check-circle"> Dedicación exclusiva.</i><br />
            <i class="bi bi-check-circle"> SIN multiples pacientes al mismo tiempo.</i><br />
          </ul>
        </div>

        <div>
          <h3 class="text-center">CONFORT</h3>
          <ul>  
            <i class="bi bi-check-circle"> Lobby a disposición.</i><br />
            <i class="bi bi-check-circle"> Baño exclusivo.</i><br />
            <i class="bi bi-check-circle"> Gabinete amplio.</i><br />
            <i class="bi bi-check-circle"> Servicios para tu confort.</i><br />
            <i class="bi bi-check-circle"> Estación de café/té.</i><br />
            <i class="bi bi-check-circle"> Insumos descartables.</i><br/>
          </ul>  
        </div>

        <div>
          <h3 class="text-center">EQUIPAMIENTO</h3>
          <ul>
            <i class="bi bi-check-circle"> Tecnología de última generación.</i><br/>
            <i class="bi bi-check-circle"> Camillas importadas de aluminio.</i><br/>
            <i class="bi bi-check-circle"> Insumos de 1º calidad.</i><br/>
            <i class="bi bi-check-circle"> Capacitación permanente en tratamientos de vanguardia.</i><br />
            <i class="bi bi-check-circle"> Tecnología NO invasiva.</i><br />
          </ul>
        </div>

      </div>
    </div>
  </section>
  <!-- END SERVICES -->

   <div class="text-center pt-5">
    <p>
      <h4><i>Especialista en soluciones para la salud, bienestar, belleza y cuidado personal.</i></h4>
    </p>
  </div>


  <!-- START PORTFOLIO -->
  <section id="portfolio">
    <div class="container">
      <h2 class="sub-title-portfolio">SERVICIOS DESTACADOS</h2>
      <div class="portfolio-list">

        <div class="portfolio">
          <img src="../images/andrea-rios-masoterapia.png"
            alt="hombre de espaldas con las manos en su cintura indicando dolor lumbar"/>
          <div class="layer">
            <h3>MASOTERAPIA</h3>
            <ul>
              <li>Masajes Terapéuticos</li>
              <li>Masajes Post-operatorios</li>
              <li>Masajes Antiestrés</li>
              <li>Masajes Deportivos</li>
              <li>Masajes c/piedras calientes</li>
              <li>Drenajes Linfáticos</li>
              <li>Reflexología</li>
            </ul>
            <br>
            <br>           
          </div>
        </div>

        <div class="portfolio">
          <img src="../images/andrea-rios-estetica-facial.png"
            alt="Mujer jóven acostada boca arriba recibiendo un tratamiento facial con pincel en el rostro"/>
          <div class="layer">
            <h3>FACIALES</h3>
             <ul>
              <li>BB Glow</li>
              <li>Dermaplaning</li>
              <li>Limpieza Facial</li>
              <li>NanoBotox</li>
              <li>Pelling's</li>
              <li>Radiofrecuencia</li>
              <li>Terapia Led</li>
              <li>Tratamiento antiaging</li>
            </ul>
            <br>
            <br> 
          </div>
        </div>

        <div class="portfolio">
          <img src="../images/andrea-rios-estetica-corporal.png"
            alt="Mujer joven sentada en el suelo con piernas y brazos cruzadas"/>
          <div class="layer">
            <h3>CORPORALES</h3>
            <ul>
              <li>Ultracavitación</li>
              <li>Depilación Definitiva</li>
              <li>Lipolaser NO invasivo</li>
              <li>Radiofrecuencia</li>
              <li>Masajes Reductores</li>
              <li>Masajes Anticelulíticos</li>
              <li>Exfoliación</li>
              <li>Shock de Hidratación</li>
            </ul>
            <br>
            <br> 
       
     
          </div>
        </div>


      </div>
    </div>
  </section>
  <!-- END PORTFOLIO -->

</main>


<!-- SCRIPT DE ABOUT -->
 <script>
    var tablinks = document.getElementsByClassName("tab-links"); 
    var tabcontents = document.getElementsByClassName("tab-contents");
    function opentab(tabname) {
      for(tablink of tablinks){
         tablink.classList.remove("active-link");
      }
      for(tabcontent of tabcontents){ 
        tabcontent.classList.remove("active-tab");
       }
      event.currentTarget.classList.add("active-link");
      document.getElementById(tabname).classList.add("active-tab");
    }
  </script>