<main class="pt-0 bg-gradient-gray-white">

  <!-- INICIO TERAPIA LED CAROUSEL-->
  <section id="terapia-led-carousel" class="scroll_section">

    <div id="carouselTerapiaLed" class="carousel slide">

      <div class="carousel-indicators">
        <button  type="button" data-bs-target="#carouselTerapiaLed" data-bs-slide-to="0" 
                 class="active" aria-current="true" aria-label="Slide 1"></button>
        <button
          type="button" data-bs-target="#carouselTerapiaLed" data-bs-slide-to="1" aria-label="Slide 2">
        </button>
        <button
          type="button" data-bs-target="#carouselTerapiaLed" data-bs-slide-to="2" aria-label="Slide 3">
        </button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/terapia-led-hero-andrea-rios.png"
            class="d-block w-100" alt="terapia-led-andrea-rios-1"/>
        </div>
        <div class="carousel-item">
          <img src="/images/terapia-led-hero-andrea-rios-2.png"
            class="d-block w-100" alt="terapia-led-andrea-rios-2"/>
        </div>
          <div class="carousel-item">
          <img src="/images/terapia-led-hero-andrea-rios-3.png"
            class="d-block w-100" alt="terapia-led-andrea-rios-3"/>
        </div>
      </div>

      <button class="carousel-control-prev" type="button"
        data-bs-target="#carouselTerapiaLed" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button"
        data-bs-target="#carouselTerapiaLed" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>
  
  </section>
  <!-- FIN TERAPIA LED CAROUSEL -->

  <!-- INICIO TERAPIA LED BANNER FIJO-->
  <section id="terapiaLedFijo">
    <div class="container-fluid">
      <!-- 1 columna que ocupará 12 lugares.-->
      <div class="row align-items-start text-center terapia-led-fijo">
        <article class="col-12 text-center pt-5">
          <h4>TERAPIA LED FACIAL</h4>
          <p class="align-items-center">
            La tecnología con MÁSCARA de LUZ LED tiene una acción directa sobre
            el cuidado de la piel con efectos que se notan desde la primer
            sesión.
            <br />
            Acorde al diagnóstico facial, se aplicará un color u otro con
            diferentes beneficios. Es una tratamiento relajante, indoloro y no
            invasivo.
          </p>
          <br/>
        </article>
      </div>
    </div>
  </section>
  <!-- FIN TERAPIA LED BANNER FIJO -->
 
  <!-- INICIO TERAPIA INFO-TEXTO -->
  <div class="container mb-4 pt-4">
    <section id="terapiaLed-info" class="row">

      <!-- 1 columna que ocupará 12 lugares.-->
      <article class="col-12 col-lg-8 offset-lg-2">
        <h5 class="text-center">TIEMPO DE TRATAMIENTO</h5>
        <p class="align-items-center">Según el biotipo cutáneo y la patología a tratar, se puede implementar un tratamiento de 8 a 12 sesiones aprox. La frecuencia semanal oscila entre 2 o 3 veces complementadas por otros tratamientos faciales. Luego se aconseja un mantenimiento mensual, según criterio profesional, para que los beneficios perduren en el tiempo.</p>
      </article>

      <!-- 1 Col ocupará 6 lugares del lado derecho -->
      <!-- INICIO FORMULARIO CONTACTO -->
      <article class="col-12 col-lg-6 order-lg-1 mt-4">
        <h5>BENEFICIOS</h5>
        <p> Se activan los Fibroblastos, responsables de la secreción de colágeno y elastina. Elimina la pigmentación y colagenasa. Es una terapia de rejuvenecimiento cutáneo. Repara las pieles con manchas provocadas por el sol y la edad. Suaviza arrugas y líneas de expresión. </p>
      </article>

      <!--Esta columna ocupará 6 lugares -->
      <article class="col-12 col-lg-6 mt-4">
         <h5>VENTAJAS</h5>
        <P> Disminuye la aparición de granos con base bacteriana y seborreica. Reduce las marcas de acné, la inflamación y congesión de la piel derivadas del acné.  Trata las lesiones producidas por foliculitis. Además cierra los poros dilatados.</P>
      </article>

    </section>
  </div>
  <!-- FIN TERAPIA INFO-TEXTO -->





</main>