<main> 
  <!-- INICIO ANTIAGING CAROUSEL-->
  <section>

    <div id="carouselDermapen" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselDermapen"
          data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
        </button>
        <button type="button" data-bs-target="#carouselDermapen"
          data-bs-slide-to="1" aria-label="Slide 2">
        </button>
      </div>

      <div class="carousel-inner">

        <div class="carousel-item active" data-interval="2000">
          <img src="/images/dermapen-hero-andrea-rios-0.png" class="d-block w-100" 
            alt="dermapen-andrea-rios-1"/>
          <div class="carousel-caption-dermapen d-none d-md-block">
            <h4>TRATAMIENTO 
            <br>ANTIAGING</h4>
            <p class="text-start"> Para el rejuvenecimiento facial
            <br>y la recuperación de la piel.
            </p>
          </div>
        </div>

        <div class="carousel-item" data-interval="2000">
          <img src="/images/dermapen-hero-andrea-rios-1.png" class="d-block w-100" 
            alt="dermapen-andrea-rios-2"/>
          <div class="carousel-caption-dermapen d-none d-md-block">
            <h4>TRATAMIENTO
            <br>ANTIAGING</h4>
             <p class="text-start"> Para el rejuvenecimiento facial
            <br>y la recuperación de la piel.
            </p>
          </div>
        </div>

      </div>

      <button class="carousel-control-prev" type="button" 
       data-bs-target="#carouselDermapen" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button"
       data-bs-target="#carouselDermapen" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>
  </section>

  <!-- FIN DERMAPEN CAROUSEL-->
  
  <!-- INICIO DERMAPEN INFO-TEXTO -->
  <div class="container mb-4 pt-4">
    <section id="dermapen-info" class="row pt-2 pb-2">
      
      <!-- 1 columna que ocupará 12 lugares.-->
      <article class="col-12 col-lg-8 offset-lg-2">
        <h5 class="text-center">TRATAMIENTO ANTIAGING (antiedad) con DERMAPEN</h5>
        <p class="align-items-center">Este novedoso tratamiento de bioestimulación cutánea ya llegó a Rosario de la Frontera! El Tratamiento Antiaging con Dermapen es un novedoso aliado para el rejuvenecimiento cutáneo.</p>
      </article>

      <!-- 1 Col ocupará 6 lugares del lado derecho -->
      <article class="col-12 col-lg-6 order-lg-1 mt-4">
        <h5>PROCEDIMIENTO</h5>
        <p>El procedimiento facial es NO invasivo. Se basa en la inducción de una combinación de activos que se aplican con un dispositivo tecnológico importado diseñado para tal fin. </p>
      </article>

      <!--Esta columna ocupará 6 lugares -->
      <article class="col-12 col-lg-6 mt-4">
         <h5>VENTAJAS</h5>
        <P>La INDUCCIÓN DE COLÁGENO con el dispositivo tecnológico de última generación, es la terapia NO invasiva más empleada en estética facial. Andrea Rios Masoterapia + Estética implementa los procedimientos de vanguardia más seguros.</P>
      </article>

    </section>
  </div>
  <!-- FIN DERMAPEN INFO-TEXTO -->

  <!-- INICIO DERMAPEN  BANNER FIJO -->
  <section id="antiAgingFijo" class="antiAgingFijo">
    <div class="container">

      <div class="img-terapia-led">
        <div class="row">
          <img class="img-fluid" src="/images/dermapen-facial-andrea-rios-1.png"
          width="100%" alt="persona recostada con máscara de terapia led"/>
        </div>

        <div class="row">
          <img class="img-fluid" src="/images/dermapen-facial-andrea-rios-2.png"
          width="100%" alt="persona recostada con máscara de terapia led"/>
        </div>

        <div class="row">
          <img class="img-fluid" src="/images/dermapen-facial-andrea-rios-3.png"
          width="100%" alt="persona recostada con máscara de terapia led"/>
        </div>

      </div>
    </div>
  </section>
  <!-- FIN DERMAPEN BANNER FIJO -->


  <!-- INICIO DERMAPEN FIJO -->
  <section id="dermapen-fijo" class="scroll_section">
    <div class="container-fluid"> 
      <div class="row align-items-center dermapen-hero-fijo py-2">
        <article class="col-12 col-lg-8  offset-lg-2">
          <p>Beneficios de esta terapia antiaging:</p>
          <ul>
            <i class="bi bi-check-circle"> Estimula la producción de colágeno naturalmente. </i><br>           
            <i class="bi bi-check-circle"> Corrige imperfecciones en el rostro. </i><br />
            <i class="bi bi-check-circle"> Disipa líneas finas de expresión y manchas.</i><br />
            <i class="bi bi-check-circle"> Mejora la textura, firmeza e hidratación del cutis.</i><br/>
            <i class="bi bi-check-circle"> Reduce cicatrices y estrías finas.</i><br />
            <i class="bi bi-check-circle"> Disimula líneas de la sonrisa y los labios. </i><br />
            <i class="bi bi-check-circle"> Resalta la belleza natural del rostro.</i><br />
          </ul>
          <br/>
          <div class="col text-start">
            <a class="btn btn-primary btn-lg rounded-5" href="/contacto">AGENDÁ TU SESIÓN HOY!</a>
          </div>
        </article>
      </div>
    </div>
  </section>
  <!-- FIN DERMAPEN FIJO -->



</main> 
