<main class="pt-0 bg-gradient-gray-white">

  <!-- INICIO ULTRACAVITACION HERO -->
  <section id="raiofrecuencia" class="scroll_section">
    <div class="container-fluid" id="radiofrecuencia-hero-image">
      <div class="row align-items-center ultracavitacion-hero">
        <div class="col-lg-4 offset-lg-3">
          <h4>ULTRACAVITACION <br> 
          CORPORAL</h4>
          <br>
          <p> Elimina celulitis y 
          <br> adiposidad corporal.
          </p>
          <br>
          <div class="text-start">
            <a class="btn btn-primary btn-lg rounded-5" href="/contacto">AGENDÁ TU SESIÓN HOY!</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- FIN ULTRACAVITACION HERO --> 

  <!-- INICIO CONTAINER RADIOFRECUENCIA CORPORAL HERO -->
  <div class="container mb-4 pt-4">
    <section class="row">
      <!-- 1 columna que ocupará 12 lugares.-->
      <article class="col-12 col-lg-8 offset-lg-2">
        <h5 class="text-center">¿QUÉ ES LA ULTRACAVITACIÓN?</h5>
        <br>
        <p class="align-items-center"> Es una técnica conocida como “la lipo sin cirugía”, porque no es invasiva. Modela la figura de manera segura, eficaz y duradera. Con resultados progresivos visibles desde la primera sesión para #ellas y #ellos.
        <br>
        </p>
      </article>
      
      <article class="col-12 col-lg-6 order-lg-1 mt-4">
        <!-- 1 Col ocupará 6 lugares del lado derecho -->
        <h5>PROCEDIMIENTO</h5>
        <p> El proceso consiste en la aplicación de ultrasonidos a baja frecuencia en la zona a tratar que, a través de la piel, logran disolver las células adiposas para que luego sean eliminadas a través de la orina o el sistema linfático.
        <br>
        </p>
      </article>

      <!--Esta columna ocupará 6 lugares -->
      <article class="col-12 col-lg-6 mt-4">
        <h5>BENEFICIOS</h5> 
        <P> Este tratamiento para eliminar adiposidad localizada (grasa corporal) y celulitis es uno de los más efectivos, porque es ideal para tratar brazos, entrepiernas, abdomen, gluteos, piernas, espalda alta y baja, flancos, rodillas, etc.
        </P>
      </article>
    </section>
  </div>
  <!-- FIN CONTAINER RADIOFRECUENCIA CORPORAL HERO -->

  <!-- INICIO TARJETAS ULTRACAVITACIÓN -->
  <section id="ultracavitacion">
    <div class="container">
      <div class="tarjetas-ultracavitacion-list">

        <div>
          <h3 class="text-center">APLICACIONES</h3>
          <ul>
            <i class="bi bi-check-circle"> Entre 8 y 10 sesiones por zona.</i><br />
            <i class="bi bi-check-circle"> Entre 2 y 3 veces por semana. (*)</i><br />
            <br>
            (*)Acorde al criterio profesional y la adiposidad en la zona a tratar.<br />
          </ul>
        </div>

        <div>
          <h3 class="text-center">VENTAJAS</h3>
          <ul>
            <i class="bi bi-check-circle"> 100% indoloro y No invasivo.</i><br />
            <i class="bi bi-check-circle"> Efectos inmediatos.</i><br/>
            <i class="bi bi-check-circle"> No provoca hematomas.</i><br />
            <i class="bi bi-check-circle"> No succiona la piel.</i><br />
            <i class="bi bi-check-circle"> No requiere reposo.</i><br />
          </ul>  
        </div>

        <div>
          <h3 class="text-center">CONTRAINDICACIONES</h3>
          <ul>
            <i class="bi bi-check-circle">  Enfermedades autoinmunes.</i><br/>
            <i class="bi bi-check-circle">  Insuficiencia renal.</i><br/>
            <i class="bi bi-check-circle">  Insuficiencia hepática.</i><br/>
            <i class="bi bi-check-circle">  Mujeres embarazadas.</i><br />
            <i class="bi bi-check-circle">  Mujeres en período de lactancia.</i><br />
          </ul>
        </div>

      </div>
    </div>
  </section>
  <!-- FIN TARJETAS ULTRACAVITACIÓN  -->


</main>